<a href="https://colab.research.google.com/github/JungMYEONG-jin/Stats_Project/blob/window/%EA%B8%B0%EB%A7%90%ED%8C%80%ED%94%8C/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%9D%BC%EC%A1%B0%EC%9D%BC%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 로드

In [ ]:
import pandas as pd
from google.colab import drive


import zipfile
import os

drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import datetime as dt
import numpy as np

In [ ]:
ls

sample_data/

In [ ]:
cd sample_data

/content/sample_data

In [ ]:
ulsan_obs_data = pd.read_csv('/content/gdrive/My Drive/태양광/ulsan_obs_data.csv', encoding='utf-8')
ulsan_fcst_data = pd.read_csv('/content/gdrive/My Drive/태양광/ulsan_fcst_data.csv', encoding='utf-8')
site_info = pd.read_csv('/content/gdrive/My Drive/태양광/site_info.csv', encoding='utf-8')
sample_submission = pd.read_csv('/content/gdrive/My Drive/태양광/sample_submission.csv', encoding='utf-8')
energy = pd.read_csv('/content/gdrive/My Drive/태양광/energy.csv', encoding='utf-8')
dangjin_obs_data = pd.read_csv('/content/gdrive/My Drive/태양광/dangjin_obs_data.csv', encoding='utf-8')
dangjin_fcst_data = pd.read_csv('/content/gdrive/My Drive/태양광/dangjin_fcst_data.csv', encoding='utf-8')

In [ ]:
os.chdir("/content/gdrive/My Drive/태양광/")

In [ ]:
os.getcwd()

'/content/gdrive/My Drive/태양광'

In [ ]:
os.listdir()

['dangjin_fcst_data.csv',
 'dangjin_obs_data.csv',
 'ulsan_obs_data.csv',
 'ulsan_fcst_data.csv',
 'site_info.csv',
 'energy.csv',
 'dangjin_fcst_data_interpolate.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv',
 '20210301.csv',
 '당진_관측_일조일사.csv',
 '당진 기상청.csv',
 'OBS_ASOS_TIM_20210526191610.csv',
 '관측_전처리_완료.csv',
 'dangjin_data.csv',
 'ulsan_data.csv',
 'dangjin_fc_and_obs_and_sunny.csv',
 '울산 일조.csv',
 '울산 일조1.csv',
 '울산 일조2.csv',
 'ulsan_fc_obs_sunny.csv',
 'dangjin_data(0531).csv',
 'ulsan_data(0531).csv',
 'sample_submission.csv',
 'submission_lstm.csv',
 'submission_lstm_정규화.csv',
 'submission_lstm_재정규화.csv',
 '데이터_전처리_일조일사.ipynb',
 'submission_lstm_정규화 (1).gsheet',
 'submission_lstm_정규화.gsheet',
 '전처리 수정.zip']

In [ ]:
my = zipfile.ZipFile("전처리 수정.zip", 'r')

In [ ]:
my.namelist()

['╗⌡ ╞·┤⌡ (2)/',
 '╗⌡ ╞·┤⌡ (2)/dangjin_data(0603).csv',
 '╗⌡ ╞·┤⌡ (2)/ulsan_data(0603).csv',
 '╗⌡ ╞·┤⌡ (2)/╡Ñ└╠┼═_└ⁿ├│╕« (1).ipynb']

In [ ]:
my.extractall(path="/content/gdrive/My Drive/태양광/")

## 수급된 에너지 데이터 : energy_data

In [ ]:
energy_data = energy.copy()

energy_data.time = np.array([dt.datetime.strptime(x[:10] , '%Y-%m-%d') for x in energy_data.time]) + np.array([dt.timedelta(seconds=int(x[-8:-6])*3600) for x in energy_data.time])

energy_data['date'] = energy_data.time.dt.date
energy_data['year'] = energy_data.time.dt.year
energy_data['month'] = energy_data.time.dt.month
energy_data['day'] = energy_data.time.dt.day
energy_data['hour'] = energy_data.time.dt.hour

In [ ]:
energy_data

                     time  dangjin_floating  ...  day  hour
0     2018-03-01 01:00:00               0.0  ...    1     1
1     2018-03-01 02:00:00               0.0  ...    1     2
2     2018-03-01 03:00:00               0.0  ...    1     3
3     2018-03-01 04:00:00               0.0  ...    1     4
4     2018-03-01 05:00:00               0.0  ...    1     5
...                   ...               ...  ...  ...   ...
25627 2021-01-31 20:00:00               0.0  ...   31    20
25628 2021-01-31 21:00:00               0.0  ...   31    21
25629 2021-01-31 22:00:00               0.0  ...   31    22
25630 2021-01-31 23:00:00               0.0  ...   31    23
25631 2021-02-01 00:00:00               0.0  ...    1     0

[25632 rows x 10 columns]

In [ ]:
energy_data.isna().sum(axis=0)

time                  0
dangjin_floating     24
dangjin_warehouse    48
dangjin               0
ulsan                 0
date                  0
year                  0
month                 0
day                   0
hour                  0
dtype: int64

## 당진시 기상 예보 : dj_wth_fc_data

In [ ]:
# 당진시 기상 예보
# 전일 20시 기준 예보를 기준으로 작성된 기상 자료
dj_wth_fc_data = dangjin_fcst_data.copy()

# str으로 입력된 시간을 datetime 객체로 변환
dj_wth_fc_data['forecasting_time'] = [dt.datetime.strptime(x[0:13] , '%Y-%m-%d %H') for x in dj_wth_fc_data['Forecast time']]
dj_wth_fc_data['after_time'] = [dt.timedelta(seconds=x*3600) for x in dj_wth_fc_data.forecast]
dj_wth_fc_data['forecasted_time'] = dj_wth_fc_data.forecasting_time + dj_wth_fc_data.after_time

# 20시 기준 예보만 추출
# 당일 20시 기준 예보 중 다음날 자정전까지의 예보만 추출
dj_wth_fc_data = dj_wth_fc_data[dj_wth_fc_data.forecasting_time.dt.hour==20]
dj_wth_fc_data = dj_wth_fc_data[dj_wth_fc_data.forecast <= 25]
dj_wth_fc_data = dj_wth_fc_data.loc[:, ['forecasted_time', 'Temperature', 'Humidity', 'WindDirection', 'Cloud']]
dj_wth_fc_data.columns = ['time', 'Temperature_fc', 'Humidity_fc', 'WindDirection_fc', 'Cloud_fc']
dj_wth_fc_data = dj_wth_fc_data.reset_index(drop=True)

# 기상 예보는 3시간 단위이기에 1시간 단위로 변경
temp_reference = pd.DataFrame()
temp_reference['time'] = pd.date_range(start=dj_wth_fc_data.time[0], end=dj_wth_fc_data.time[len(dj_wth_fc_data)-1], freq='H')
dj_wth_fc_data = pd.merge(temp_reference, dj_wth_fc_data, on='time', how='outer')

# 비어있는 시간의 예보는 선형보간법을 이용
dj_wth_fc_data = dj_wth_fc_data.interpolate()

# 전운량 변수는 범주형으로 변환
dj_wth_fc_data.Cloud_fc = round(dj_wth_fc_data.Cloud_fc)

In [ ]:
dj_wth_fc_data

                     time  Temperature_fc  ...  WindDirection_fc  Cloud_fc
0     2018-03-02 00:00:00       -2.000000  ...        336.000000       1.0
1     2018-03-02 01:00:00       -2.333333  ...        337.000000       1.0
2     2018-03-02 02:00:00       -2.666667  ...        338.000000       1.0
3     2018-03-02 03:00:00       -3.000000  ...        339.000000       1.0
4     2018-03-02 04:00:00       -3.333333  ...        343.666667       1.0
...                   ...             ...  ...               ...       ...
26297 2021-03-01 17:00:00        7.333333  ...        131.333333       4.0
26298 2021-03-01 18:00:00        6.000000  ...         17.000000       4.0
26299 2021-03-01 19:00:00        5.333333  ...         20.333333       4.0
26300 2021-03-01 20:00:00        4.666667  ...         23.666667       4.0
26301 2021-03-01 21:00:00        4.000000  ...         27.000000       4.0

[26302 rows x 5 columns]

In [ ]:
dj_wth_fc_data.isna().sum(axis=0)

time                0
Temperature_fc      0
Humidity_fc         0
WindDirection_fc    0
Cloud_fc            0
dtype: int64

## 울산시 기상 예보 : us_wth_fc_data

In [ ]:
# 울산시 기상 예보
# 전일 20시 기준 예보를 기준으로 작성된 기상 자료
us_wth_fc_data = ulsan_fcst_data.copy()

# str으로 입력된 시간을 datetime 객체로 변환
us_wth_fc_data['forecasting_time'] = [dt.datetime.strptime(x[0:13] , '%Y-%m-%d %H') for x in us_wth_fc_data['Forecast time']]
us_wth_fc_data['after_time'] = [dt.timedelta(seconds=x*3600) for x in us_wth_fc_data.forecast]
us_wth_fc_data['forecasted_time'] = us_wth_fc_data.forecasting_time + us_wth_fc_data.after_time

# 20시 기준 예보만 추출
# 당일 20시 기준 예보 중 다음날 자정전까지의 예보만 추출
us_wth_fc_data = us_wth_fc_data[us_wth_fc_data.forecasting_time.dt.hour==20]
us_wth_fc_data = us_wth_fc_data[us_wth_fc_data.forecast <= 25]
us_wth_fc_data = us_wth_fc_data.loc[:, ['forecasted_time', 'Temperature', 'Humidity', 'WindDirection', 'Cloud']]
us_wth_fc_data.columns = ['time', 'Temperature_fc', 'Humidity_fc', 'WindDirection_fc', 'Cloud_fc']
us_wth_fc_data = us_wth_fc_data.reset_index(drop=True)

# 기상 예보는 3시간 단위이기에 1시간 단위로 변경
temp_reference = pd.DataFrame()
temp_reference['time'] = pd.date_range(start=us_wth_fc_data.time[0], end=us_wth_fc_data.time[len(us_wth_fc_data)-1], freq='H')
us_wth_fc_data = pd.merge(temp_reference, us_wth_fc_data, on='time', how='outer')

# 비어있는 시간의 예보는 선형보간법을 이용
us_wth_fc_data = us_wth_fc_data.interpolate()

# 전운량 변수는 범주형으로 변환
us_wth_fc_data.Cloud_fc = round(us_wth_fc_data.Cloud_fc)

In [ ]:
us_wth_fc_data

                     time  Temperature_fc  ...  WindDirection_fc  Cloud_fc
0     2018-03-02 00:00:00        0.000000  ...        321.000000       2.0
1     2018-03-02 01:00:00       -0.333333  ...        313.666667       2.0
2     2018-03-02 02:00:00       -0.666667  ...        306.333333       2.0
3     2018-03-02 03:00:00       -1.000000  ...        299.000000       2.0
4     2018-03-02 04:00:00       -1.000000  ...        300.666667       2.0
...                   ...             ...  ...               ...       ...
26297 2021-03-01 17:00:00       17.000000  ...        184.333333       4.0
26298 2021-03-01 18:00:00       17.000000  ...        187.000000       4.0
26299 2021-03-01 19:00:00       16.000000  ...        135.333333       4.0
26300 2021-03-01 20:00:00       15.000000  ...         83.666667       4.0
26301 2021-03-01 21:00:00       14.000000  ...         32.000000       4.0

[26302 rows x 5 columns]

In [ ]:
us_wth_fc_data.isna().sum(axis=0)

time                0
Temperature_fc      0
Humidity_fc         0
WindDirection_fc    0
Cloud_fc            0
dtype: int64

## 당진시 기상 관측 : dj_wth_obs_data

In [ ]:
# 당진시 관측된 기상 정보
dj_wth_obs_data = dangjin_obs_data.copy()

dj_wth_obs_data.columns = ['지점', '지점명', 'time', 'Temperature_obs', 'WindSpeed_obs', 'WindDirection_obs', 'Humidity_obs', 'Cloud_obs']

# str으로 입력된 시간을 datetime 객체로 변환
dj_wth_obs_data.time = [dt.datetime.strptime(x[0:13] , '%Y-%m-%d %H') for x in dj_wth_obs_data['time']]

# 전운량 변수는 처음 약 3600개의 관측치는 관측이 되지 않음
# 이후에 등장하는 전운량 값 중 결측치는 선형보간법을 이용하여 결측치를 처리
dj_wth_obs_data['Cloud_obs_interpolated'] = np.nan
dj_wth_obs_data.loc[3667:, 'Cloud_obs_interpolated'] = dj_wth_obs_data.Cloud_obs[3667:].interpolate()
dj_wth_obs_data.Cloud_obs_interpolated = round(dj_wth_obs_data.Cloud_obs_interpolated)

dj_wth_obs_data = dj_wth_obs_data.loc[:, ['time', 'Temperature_obs', 'Humidity_obs', 'WindDirection_obs', 'Cloud_obs_interpolated', 'WindSpeed_obs']]

In [ ]:
dj_wth_obs_data

                     time  ...  WindSpeed_obs
0     2018-03-01 00:00:00  ...            3.6
1     2018-03-01 01:00:00  ...            0.7
2     2018-03-01 02:00:00  ...            3.2
3     2018-03-01 03:00:00  ...            1.9
4     2018-03-01 04:00:00  ...            2.1
...                   ...  ...            ...
25621 2021-01-31 19:00:00  ...            1.5
25622 2021-01-31 20:00:00  ...            0.8
25623 2021-01-31 21:00:00  ...            0.7
25624 2021-01-31 22:00:00  ...            1.0
25625 2021-01-31 23:00:00  ...            0.6

[25626 rows x 6 columns]

In [ ]:
dj_wth_obs_data.isna().sum(axis=0)

time                         0
Temperature_obs             37
Humidity_obs                35
WindDirection_obs           36
Cloud_obs_interpolated    3667
WindSpeed_obs               36
dtype: int64

## 울산시 기상 관측 : us_wth_obs_data

In [ ]:
# 울산시 관측된 기상 정보
us_wth_obs_data = ulsan_obs_data.copy()

us_wth_obs_data.columns = ['지점', '지점명', 'time', 'Temperature_obs', 'WindSpeed_obs', 'WindDirection_obs', 'Humidity_obs', 'Cloud_obs']

# str으로 입력된 시간을 datetime 객체로 변환
us_wth_obs_data.time = [dt.datetime.strptime(x[0:13] , '%Y-%m-%d %H') for x in us_wth_obs_data['time']]

# 전운량 값 중 결측치는 선형보간법을 이용하여 결측치를 처리
us_wth_obs_data['Cloud_obs_interpolated'] = np.nan
us_wth_obs_data.Cloud_obs_interpolated = us_wth_obs_data.Cloud_obs.interpolate()
us_wth_obs_data.Cloud_obs_interpolated = round(us_wth_obs_data.Cloud_obs_interpolated)

us_wth_obs_data = us_wth_obs_data.loc[:, ['time', 'Temperature_obs', 'Humidity_obs', 'WindDirection_obs', 'Cloud_obs_interpolated', 'WindSpeed_obs']]

In [ ]:
us_wth_obs_data

                     time  ...  WindSpeed_obs
0     2018-03-01 00:00:00  ...            3.9
1     2018-03-01 01:00:00  ...            4.1
2     2018-03-01 02:00:00  ...            5.9
3     2018-03-01 03:00:00  ...            4.6
4     2018-03-01 04:00:00  ...            4.5
...                   ...  ...            ...
25627 2021-01-31 19:00:00  ...            2.5
25628 2021-01-31 20:00:00  ...            3.9
25629 2021-01-31 21:00:00  ...            2.4
25630 2021-01-31 22:00:00  ...            3.3
25631 2021-01-31 23:00:00  ...            3.1

[25632 rows x 6 columns]

In [ ]:
us_wth_obs_data.isna().sum(axis=0)

time                      0
Temperature_obs           4
Humidity_obs              1
WindDirection_obs         1
Cloud_obs_interpolated    0
WindSpeed_obs             1
dtype: int64

## 당진시 통합 데이터 : dangjin_data

발전소 3 곳에 수급된 발전량이 결측치인 경우와 의심스러운 0 존재

2018-03-01에 대한 forecast 기상 정보 없음

observed 기상 정보 중 결측치 존재 -> 관측소 이상인듯

2018-03 ~ 2018-08까지 observed 전운량 정보 없음

In [ ]:
dangjin_data = energy_data.copy()

dangjin_data = dangjin_data.loc[:, ['time', 'date', 'year', 'month', 'day', 'hour', 'dangjin_floating', 'dangjin_warehouse', 'dangjin']]

dangjin_data = pd.merge(dangjin_data, dj_wth_fc_data, on='time', how='left')
dangjin_data = pd.merge(dangjin_data, dj_wth_obs_data, on='time', how='left')

In [ ]:
dangjin_data

                     time        date  ...  Cloud_obs_interpolated  WindSpeed_obs
0     2018-03-01 01:00:00  2018-03-01  ...                     NaN            0.7
1     2018-03-01 02:00:00  2018-03-01  ...                     NaN            3.2
2     2018-03-01 03:00:00  2018-03-01  ...                     NaN            1.9
3     2018-03-01 04:00:00  2018-03-01  ...                     NaN            2.1
4     2018-03-01 05:00:00  2018-03-01  ...                     NaN            4.4
...                   ...         ...  ...                     ...            ...
25627 2021-01-31 20:00:00  2021-01-31  ...                     8.0            0.8
25628 2021-01-31 21:00:00  2021-01-31  ...                     8.0            0.7
25629 2021-01-31 22:00:00  2021-01-31  ...                     8.0            1.0
25630 2021-01-31 23:00:00  2021-01-31  ...                     7.0            0.6
25631 2021-02-01 00:00:00  2021-02-01  ...                     NaN            NaN

[25632 rows x 18 columns]

In [ ]:
dangjin_data.isna().sum(axis=0)

time                         0
date                         0
year                         0
month                        0
day                          0
hour                         0
dangjin_floating            24
dangjin_warehouse           48
dangjin                      0
Temperature_fc              23
Humidity_fc                 23
WindDirection_fc            23
Cloud_fc                    23
Temperature_obs             44
Humidity_obs                42
WindDirection_obs           43
Cloud_obs_interpolated    3673
WindSpeed_obs               43
dtype: int64

In [ ]:
# 3 곳의 발전소에서 하루 종일 수급된 발전량이 없는 날이 다음과 같음
sum(dangjin_data.groupby(by='date').sum().dangjin_floating == 0), sum(dangjin_data.groupby(by='date').sum().dangjin_warehouse == 0), sum(dangjin_data.groupby(by='date').sum().dangjin == 0)

(13, 23, 8)

## 울산시 통합 데이터 : ulsan_data

수급된 발전량이 의심스러운 0 존재

2018-03-01에 대한 forecast 기상 정보 없음

observed 기상 정보 중 결측치 존재 -> 관측소 이상인듯

In [ ]:
ulsan_data = energy_data.copy()

ulsan_data = ulsan_data.loc[:, ['time', 'date', 'year', 'month', 'day', 'hour', 'ulsan']]

ulsan_data = pd.merge(ulsan_data, us_wth_fc_data, on='time', how='left')
ulsan_data = pd.merge(ulsan_data, us_wth_obs_data, on='time', how='left')

In [ ]:
ulsan_data

                     time        date  ...  Cloud_obs_interpolated  WindSpeed_obs
0     2018-03-01 01:00:00  2018-03-01  ...                    10.0            4.1
1     2018-03-01 02:00:00  2018-03-01  ...                     6.0            5.9
2     2018-03-01 03:00:00  2018-03-01  ...                     3.0            4.6
3     2018-03-01 04:00:00  2018-03-01  ...                     1.0            4.5
4     2018-03-01 05:00:00  2018-03-01  ...                     1.0            6.0
...                   ...         ...  ...                     ...            ...
25627 2021-01-31 20:00:00  2021-01-31  ...                     1.0            3.9
25628 2021-01-31 21:00:00  2021-01-31  ...                     7.0            2.4
25629 2021-01-31 22:00:00  2021-01-31  ...                     8.0            3.3
25630 2021-01-31 23:00:00  2021-01-31  ...                     9.0            3.1
25631 2021-02-01 00:00:00  2021-02-01  ...                     NaN            NaN

[25632 rows x 16 columns]

In [ ]:
ulsan_data.isna().sum(axis=0)

time                       0
date                       0
year                       0
month                      0
day                        0
hour                       0
ulsan                      0
Temperature_fc            23
Humidity_fc               23
WindDirection_fc          23
Cloud_fc                  23
Temperature_obs            5
Humidity_obs               2
WindDirection_obs          2
Cloud_obs_interpolated     1
WindSpeed_obs              2
dtype: int64

In [ ]:
# 울산 발전소에서 하루 종일 수급된 발전량이 없는 날이 다음과 같음
sum(ulsan_data.groupby(by='date').sum().ulsan == 0)

15

## 데이터 저장

In [ ]:
dangjin_data.to_csv('/content/gdrive/MyDrive/태양광/dangjin_data.csv', encoding='cp949')
ulsan_data.to_csv('/content/gdrive/MyDrive/태양광/ulsan_data.csv', encoding='cp949')

# 일조 일사 합치기

In [ ]:
dangjin_data

                     time        date  ...  Cloud_obs_interpolated  WindSpeed_obs
0     2018-03-01 01:00:00  2018-03-01  ...                     NaN            0.7
1     2018-03-01 02:00:00  2018-03-01  ...                     NaN            3.2
2     2018-03-01 03:00:00  2018-03-01  ...                     NaN            1.9
3     2018-03-01 04:00:00  2018-03-01  ...                     NaN            2.1
4     2018-03-01 05:00:00  2018-03-01  ...                     NaN            4.4
...                   ...         ...  ...                     ...            ...
25627 2021-01-31 20:00:00  2021-01-31  ...                     8.0            0.8
25628 2021-01-31 21:00:00  2021-01-31  ...                     8.0            0.7
25629 2021-01-31 22:00:00  2021-01-31  ...                     8.0            1.0
25630 2021-01-31 23:00:00  2021-01-31  ...                     7.0            0.6
25631 2021-02-01 00:00:00  2021-02-01  ...                     NaN            NaN

[25632 rows x 18 columns]

In [ ]:
final_obs = pd.read_csv("/content/gdrive/MyDrive/태양광/관측_전처리_완료.csv")

In [ ]:
dangjin_data.dtypes

time                      datetime64[ns]
date                              object
year                               int64
month                              int64
day                                int64
hour                               int64
dangjin_floating                 float64
dangjin_warehouse                float64
dangjin                            int64
Temperature_fc                   float64
Humidity_fc                      float64
WindDirection_fc                 float64
Cloud_fc                         float64
Temperature_obs                  float64
Humidity_obs                     float64
WindDirection_obs                float64
Cloud_obs_interpolated           float64
WindSpeed_obs                    float64
dtype: object

In [ ]:
# 데이터 타입 통합후 join
final_obs.dtypes

final_obs = final_obs.astype({"일시":"datetime64[ns]"})

In [ ]:
final_obs.dtypes

지점_x                  int64
지점명_x                object
일시           datetime64[ns]
기온(°C)              float64
풍속(m/s)             float64
풍향(16방위)            float64
습도(%)               float64
전운량(10분위)           float64
일조(hr)              float64
일사(MJ/m2)           float64
dtype: object

In [ ]:
final_obs.rename(columns = {'일시' : 'time'}, inplace = True)

In [ ]:
a = final_obs.columns
a

Index(['지점_x', '지점명_x', 'time', '기온(°C)', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '전운량(10분위)', '일조(hr)', '일사(MJ/m2)'],
      dtype='object')

In [ ]:
# 불필요한 column drop
# 현재 주형님 데이터에 기온 풍속 풍향 습도 전운량 있으므로 
# 일조 일사만 붙이기

final_obs.drop([a[0], a[1], a[3], a[4], a[5], a[6], a[7]], axis=1, inplace=True)

final_obs

                     time  일조(hr)  일사(MJ/m2)
0     2018-03-01 00:00:00     0.0       0.00
1     2018-03-01 01:00:00     0.0       0.00
2     2018-03-01 02:00:00     0.0       0.00
3     2018-03-01 03:00:00     0.0       0.00
4     2018-03-01 04:00:00     0.0       0.00
...                   ...     ...        ...
25621 2021-01-31 19:00:00     0.0       0.04
25622 2021-01-31 20:00:00     0.0       0.04
25623 2021-01-31 21:00:00     0.0       0.04
25624 2021-01-31 22:00:00     0.0       0.04
25625 2021-01-31 23:00:00     0.0       0.04

[25626 rows x 3 columns]

In [ ]:
# 3월 1일 00시는 없으므로 제거
final_obs.drop([0],inplace=True)

In [ ]:
final_obs.isna().sum()

time         0
일조(hr)       0
일사(MJ/m2)    0
dtype: int64

In [ ]:
final_obs

                     time  일조(hr)  일사(MJ/m2)
1     2018-03-01 01:00:00     0.0       0.00
2     2018-03-01 02:00:00     0.0       0.00
3     2018-03-01 03:00:00     0.0       0.00
4     2018-03-01 04:00:00     0.0       0.00
5     2018-03-01 05:00:00     0.0       0.00
...                   ...     ...        ...
25621 2021-01-31 19:00:00     0.0       0.04
25622 2021-01-31 20:00:00     0.0       0.04
25623 2021-01-31 21:00:00     0.0       0.04
25624 2021-01-31 22:00:00     0.0       0.04
25625 2021-01-31 23:00:00     0.0       0.04

[25625 rows x 3 columns]

In [ ]:
# 데이터 type 같으니 이제 join
final_obs
temp = pd.merge(dangjin_data, final_obs, how="outer", on="time")

In [ ]:
temp.isna().sum() 
# 일조 일사가 null인것 날리기

time                         0
date                         0
year                         0
month                        0
day                          0
hour                         0
dangjin_floating            24
dangjin_warehouse           48
dangjin                      0
Temperature_fc              23
Humidity_fc                 23
WindDirection_fc            23
Cloud_fc                    23
Temperature_obs             44
Humidity_obs                42
WindDirection_obs           43
Cloud_obs_interpolated    3673
WindSpeed_obs               43
일조(hr)                       7
일사(MJ/m2)                    7
dtype: int64

In [ ]:
pred = temp["일조(hr)"].isna()

In [ ]:
pred

0        False
1        False
2        False
3        False
4        False
         ...
25627    False
25628    False
25629    False
25630    False
25631     True
Name: 일조(hr), Length: 25632, dtype: bool

In [ ]:
dangjin_data.isna().sum()

time                         0
date                         0
year                         0
month                        0
day                          0
hour                         0
dangjin_floating            24
dangjin_warehouse           48
dangjin                      0
Temperature_fc              23
Humidity_fc                 23
WindDirection_fc            23
Cloud_fc                    23
Temperature_obs             44
Humidity_obs                42
WindDirection_obs           43
Cloud_obs_interpolated    3673
WindSpeed_obs               43
dtype: int64

In [ ]:
temp

                     time        date  year  ...  WindSpeed_obs  일조(hr)  일사(MJ/m2)
0     2018-03-01 01:00:00  2018-03-01  2018  ...            0.7     0.0       0.00
1     2018-03-01 02:00:00  2018-03-01  2018  ...            3.2     0.0       0.00
2     2018-03-01 03:00:00  2018-03-01  2018  ...            1.9     0.0       0.00
3     2018-03-01 04:00:00  2018-03-01  2018  ...            2.1     0.0       0.00
4     2018-03-01 05:00:00  2018-03-01  2018  ...            4.4     0.0       0.00
...                   ...         ...   ...  ...            ...     ...        ...
25627 2021-01-31 20:00:00  2021-01-31  2021  ...            0.8     0.0       0.04
25628 2021-01-31 21:00:00  2021-01-31  2021  ...            0.7     0.0       0.04
25629 2021-01-31 22:00:00  2021-01-31  2021  ...            1.0     0.0       0.04
25630 2021-01-31 23:00:00  2021-01-31  2021  ...            0.6     0.0       0.04
25631 2021-02-01 00:00:00  2021-02-01  2021  ...            NaN     NaN        NaN

[25632 rows x 20 columns]

In [ ]:
temp["일조(hr)"] = temp["일조(hr)"].interpolate() # 일조 일사 빈곳은 보간법 처리
temp["일사(MJ/m2)"] = temp["일사(MJ/m2)"].interpolate()

In [ ]:
temp.isna().sum()

time                         0
date                         0
year                         0
month                        0
day                          0
hour                         0
dangjin_floating            24
dangjin_warehouse           48
dangjin                      0
Temperature_fc              23
Humidity_fc                 23
WindDirection_fc            23
Cloud_fc                    23
Temperature_obs             44
Humidity_obs                42
WindDirection_obs           43
Cloud_obs_interpolated    3673
WindSpeed_obs               43
일조(hr)                       0
일사(MJ/m2)                    0
dtype: int64

In [ ]:
temp.to_csv("/content/gdrive/MyDrive/태양광/dangjin_fc_and_obs_and_sunny.csv", index=False)

In [ ]:
us1 = pd.read_csv("/content/gdrive/MyDrive/태양광/울산 일조.csv", encoding="euc-kr")
us2 = pd.read_csv("/content/gdrive/MyDrive/태양광/울산 일조1.csv", encoding="euc-kr")
us3 = pd.read_csv("/content/gdrive/MyDrive/태양광/울산 일조2.csv", encoding="euc-kr")

# 울산 일조 처리

In [ ]:
us1.drop(["일사(MJ/m2)"], axis=1, inplace=True)

In [ ]:
us2.drop(["일사(MJ/m2)"], axis=1, inplace=True)

In [ ]:
us3.drop(["일사(MJ/m2)"], axis=1, inplace=True)

In [ ]:
# 데이터 확인
us1

       지점 지점명                일시  일조(hr)
0     152  울산  2018-03-01 07:00     0.0
1     152  울산  2018-03-01 08:00     0.1
2     152  울산  2018-03-01 09:00     1.0
3     152  울산  2018-03-01 10:00     0.2
4     152  울산  2018-03-01 11:00     1.0
...   ...  ..               ...     ...
4793  152  울산  2019-02-28 15:00     0.9
4794  152  울산  2019-02-28 16:00     0.6
4795  152  울산  2019-02-28 17:00     0.0
4796  152  울산  2019-02-28 18:00     0.0
4797  152  울산  2019-02-28 19:00     0.0

[4798 rows x 4 columns]

In [ ]:
us2

       지점 지점명                일시  일조(hr)
0     152  울산  2019-03-01 07:00     0.0
1     152  울산  2019-03-01 08:00     0.2
2     152  울산  2019-03-01 09:00     1.0
3     152  울산  2019-03-01 10:00     1.0
4     152  울산  2019-03-01 11:00     1.0
...   ...  ..               ...     ...
4806  152  울산  2020-02-29 15:00     0.0
4807  152  울산  2020-02-29 16:00     0.4
4808  152  울산  2020-02-29 17:00     0.5
4809  152  울산  2020-02-29 18:00     0.2
4810  152  울산  2020-02-29 19:00     0.0

[4811 rows x 4 columns]

In [ ]:
us3

       지점 지점명                일시  일조(hr)
0     152  울산  2020-03-01 07:00     0.0
1     152  울산  2020-03-01 08:00     0.0
2     152  울산  2020-03-01 09:00     0.0
3     152  울산  2020-03-01 10:00     0.0
4     152  울산  2020-03-01 11:00     0.0
...   ...  ..               ...     ...
4460  152  울산  2021-01-31 14:00     1.0
4461  152  울산  2021-01-31 15:00     1.0
4462  152  울산  2021-01-31 16:00     1.0
4463  152  울산  2021-01-31 17:00     1.0
4464  152  울산  2021-01-31 18:00     0.2

[4465 rows x 4 columns]

# 울산은 일단 일조량만 가지고 비교해야함

In [ ]:
temp2 = pd.concat([us1, us2, us3], axis=0)

In [ ]:
temp2

       지점 지점명                일시  일조(hr)
0     152  울산  2018-03-01 07:00     0.0
1     152  울산  2018-03-01 08:00     0.1
2     152  울산  2018-03-01 09:00     1.0
3     152  울산  2018-03-01 10:00     0.2
4     152  울산  2018-03-01 11:00     1.0
...   ...  ..               ...     ...
4460  152  울산  2021-01-31 14:00     1.0
4461  152  울산  2021-01-31 15:00     1.0
4462  152  울산  2021-01-31 16:00     1.0
4463  152  울산  2021-01-31 17:00     1.0
4464  152  울산  2021-01-31 18:00     0.2

[14074 rows x 4 columns]

In [ ]:
# 이제 보간법을 이용해 1시부터 진행해준다
inter = pd.DataFrame()
inter["일시"] = pd.date_range(start="2018-03-01 01:00:00", end="2021-02-01 00:00:00", freq="H")

In [ ]:
inter

                       일시
0     2018-03-01 01:00:00
1     2018-03-01 02:00:00
2     2018-03-01 03:00:00
3     2018-03-01 04:00:00
4     2018-03-01 05:00:00
...                   ...
25627 2021-01-31 20:00:00
25628 2021-01-31 21:00:00
25629 2021-01-31 22:00:00
25630 2021-01-31 23:00:00
25631 2021-02-01 00:00:00

[25632 rows x 1 columns]

In [ ]:
ulsan_data

                     time        date  ...  Cloud_obs_interpolated  WindSpeed_obs
0     2018-03-01 01:00:00  2018-03-01  ...                    10.0            4.1
1     2018-03-01 02:00:00  2018-03-01  ...                     6.0            5.9
2     2018-03-01 03:00:00  2018-03-01  ...                     3.0            4.6
3     2018-03-01 04:00:00  2018-03-01  ...                     1.0            4.5
4     2018-03-01 05:00:00  2018-03-01  ...                     1.0            6.0
...                   ...         ...  ...                     ...            ...
25627 2021-01-31 20:00:00  2021-01-31  ...                     1.0            3.9
25628 2021-01-31 21:00:00  2021-01-31  ...                     7.0            2.4
25629 2021-01-31 22:00:00  2021-01-31  ...                     8.0            3.3
25630 2021-01-31 23:00:00  2021-01-31  ...                     9.0            3.1
25631 2021-02-01 00:00:00  2021-02-01  ...                     NaN            NaN

[25632 rows x 16 columns]

In [ ]:
# 시간 기준으로 합치면됨

inter.dtypes

일시    datetime64[ns]
dtype: object

In [ ]:
temp2.dtypes

지점          int64
지점명        object
일시         object
일조(hr)    float64
dtype: object

In [ ]:
ulsan_data.dtypes

time                      datetime64[ns]
date                              object
year                               int64
month                              int64
day                                int64
hour                               int64
ulsan                              int64
Temperature_fc                   float64
Humidity_fc                      float64
WindDirection_fc                 float64
Cloud_fc                         float64
Temperature_obs                  float64
Humidity_obs                     float64
WindDirection_obs                float64
Cloud_obs_interpolated           float64
WindSpeed_obs                    float64
dtype: object

In [ ]:
# 울산 데이터가 datetime이므로 temp2 type변환후 보간법 후 붙여주자

temp2 = temp2.astype({"일시":"datetime64[ns]"})

In [ ]:
temp_merge = pd.merge(temp2, inter, on="일시", how="outer")

In [ ]:
temp_merge

          지점  지점명                  일시  일조(hr)
0      152.0   울산 2018-03-01 07:00:00     0.0
1      152.0   울산 2018-03-01 08:00:00     0.1
2      152.0   울산 2018-03-01 09:00:00     1.0
3      152.0   울산 2018-03-01 10:00:00     0.2
4      152.0   울산 2018-03-01 11:00:00     1.0
...      ...  ...                 ...     ...
25627    NaN  NaN 2021-01-31 20:00:00     NaN
25628    NaN  NaN 2021-01-31 21:00:00     NaN
25629    NaN  NaN 2021-01-31 22:00:00     NaN
25630    NaN  NaN 2021-01-31 23:00:00     NaN
25631    NaN  NaN 2021-02-01 00:00:00     NaN

[25632 rows x 4 columns]

In [ ]:
# 보간법 실행
temp_merge = temp_merge.interpolate()

In [ ]:
temp_merge

          지점  지점명                  일시  일조(hr)
0      152.0   울산 2018-03-01 07:00:00     0.0
1      152.0   울산 2018-03-01 08:00:00     0.1
2      152.0   울산 2018-03-01 09:00:00     1.0
3      152.0   울산 2018-03-01 10:00:00     0.2
4      152.0   울산 2018-03-01 11:00:00     1.0
...      ...  ...                 ...     ...
25627  152.0  NaN 2021-01-31 20:00:00     0.2
25628  152.0  NaN 2021-01-31 21:00:00     0.2
25629  152.0  NaN 2021-01-31 22:00:00     0.2
25630  152.0  NaN 2021-01-31 23:00:00     0.2
25631  152.0  NaN 2021-02-01 00:00:00     0.2

[25632 rows x 4 columns]

In [ ]:
# 지점 지점명은 필요없으므로 버림
temp_merge.drop(["지점", "지점명"],axis=1, inplace=True)

In [ ]:
temp_merge

                       일시  일조(hr)
0     2018-03-01 07:00:00     0.0
1     2018-03-01 08:00:00     0.1
2     2018-03-01 09:00:00     1.0
3     2018-03-01 10:00:00     0.2
4     2018-03-01 11:00:00     1.0
...                   ...     ...
25627 2021-01-31 20:00:00     0.2
25628 2021-01-31 21:00:00     0.2
25629 2021-01-31 22:00:00     0.2
25630 2021-01-31 23:00:00     0.2
25631 2021-02-01 00:00:00     0.2

[25632 rows x 2 columns]

In [ ]:
temp_merge.dtypes

일시        datetime64[ns]
일조(hr)           float64
dtype: object

In [ ]:
# 일시 time으로 변경후 merge
temp_merge.rename(columns = {"일시" : "time"}, inplace = True)

In [ ]:
temp_merge

                     time  일조(hr)
0     2018-03-01 07:00:00     0.0
1     2018-03-01 08:00:00     0.1
2     2018-03-01 09:00:00     1.0
3     2018-03-01 10:00:00     0.2
4     2018-03-01 11:00:00     1.0
...                   ...     ...
25627 2021-01-31 20:00:00     0.2
25628 2021-01-31 21:00:00     0.2
25629 2021-01-31 22:00:00     0.2
25630 2021-01-31 23:00:00     0.2
25631 2021-02-01 00:00:00     0.2

[25632 rows x 2 columns]

In [ ]:
final_ulsan = pd.merge(ulsan_data, temp_merge, on="time", how="outer")

In [ ]:
final_ulsan

                     time        date  ...  WindSpeed_obs  일조(hr)
0     2018-03-01 01:00:00  2018-03-01  ...            4.1     0.2
1     2018-03-01 02:00:00  2018-03-01  ...            5.9     0.2
2     2018-03-01 03:00:00  2018-03-01  ...            4.6     0.2
3     2018-03-01 04:00:00  2018-03-01  ...            4.5     0.2
4     2018-03-01 05:00:00  2018-03-01  ...            6.0     0.2
...                   ...         ...  ...            ...     ...
25627 2021-01-31 20:00:00  2021-01-31  ...            3.9     0.2
25628 2021-01-31 21:00:00  2021-01-31  ...            2.4     0.2
25629 2021-01-31 22:00:00  2021-01-31  ...            3.3     0.2
25630 2021-01-31 23:00:00  2021-01-31  ...            3.1     0.2
25631 2021-02-01 00:00:00  2021-02-01  ...            NaN     0.2

[25632 rows x 17 columns]

In [ ]:
final_ulsan.isna().sum()

time                       0
date                       0
year                       0
month                      0
day                        0
hour                       0
ulsan                      0
Temperature_fc            23
Humidity_fc               23
WindDirection_fc          23
Cloud_fc                  23
Temperature_obs            5
Humidity_obs               2
WindDirection_obs          2
Cloud_obs_interpolated     1
WindSpeed_obs              2
일조(hr)                     0
dtype: int64

In [ ]:
# join성공적 저장후 마무리

final_ulsan.to_csv("/content/gdrive/MyDrive/태양광/ulsan_fc_obs_sunny.csv", index=False)

In [ ]:
ulsan = pd.read_csv("/content/gdrive/MyDrive/태양광/ulsan_data(0603).csv")

In [ ]:
dangjin = pd.read_csv("/content/gdrive/MyDrive/태양광/dangjin_data(0603).csv")

In [ ]:
energy['ulsan_solar'] = ulsan["solar_io"]
energy['dangjin_solar'] = dangjin["solar_io"]

In [ ]:
ulsan

       Unnamed: 0                 time  ... avg_rt_change_ulsan  expected_ulsan
0               0  2018-03-01 01:00:00  ...                 NaN             NaN
1               1  2018-03-01 02:00:00  ...                 NaN             NaN
2               2  2018-03-01 03:00:00  ...                 NaN             NaN
3               3  2018-03-01 04:00:00  ...                 NaN             NaN
4               4  2018-03-01 05:00:00  ...                 NaN             NaN
...           ...                  ...  ...                 ...             ...
25627       25627  2021-01-31 20:00:00  ...                 0.0    1.605876e-07
25628       25628  2021-01-31 21:00:00  ...                 0.0             NaN
25629       25629  2021-01-31 22:00:00  ...                 0.0             NaN
25630       25630  2021-01-31 23:00:00  ...                 0.0             NaN
25631       25631  2021-02-01 00:00:00  ...                 0.0             NaN

[25632 rows x 45 columns]

In [ ]:
energy.isna().sum()

time                  0
dangjin_floating     24
dangjin_warehouse    48
dangjin               0
ulsan                 0
ulsan_solar           0
dangjin_solar         0
dtype: int64

In [ ]:
energy["dangjin"] = dangjin["dangjin"]
energy["dangjin_floating"] = dangjin["dangjin_floating"]
energy["dangjin_warehouse"] = dangjin["dangjin_warehouse"]
energy["ulsan"] = ulsan["ulsan"]

In [ ]:
# 에너지 결측 mean으로 채움

energy.fillna(energy.mean(),inplace=True)

In [ ]:
energy = energy.set_index("time")

In [ ]:
energy

                     dangjin_floating  ...  dangjin_solar
time                                   ...
2018-03-01 1:00:00                0.0  ...   0.000000e+00
2018-03-01 2:00:00                0.0  ...  -4.075937e+06
2018-03-01 3:00:00                0.0  ...  -3.561535e+06
2018-03-01 4:00:00                0.0  ...  -2.834062e+06
2018-03-01 5:00:00                0.0  ...  -1.943093e+06
...                               ...  ...            ...
2021-01-31 20:00:00               0.0  ...  -2.398972e+06
2021-01-31 21:00:00               0.0  ...  -3.266039e+06
2021-01-31 22:00:00               0.0  ...  -3.973997e+06
2021-01-31 23:00:00               0.0  ...  -4.474598e+06
2021-01-31 24:00:00               0.0  ...   1.761201e+07

[25632 rows x 6 columns]

# 정규화

In [ ]:
ulsan_e = energy['ulsan'].values.astype(float)
dangjin_floating = energy['dangjin_floating'].values.astype(float)
dangjin_warehouse = energy['dangjin_warehouse'].values.astype(float)
dangjin_e	= energy['dangjin'].values.astype(float)

In [ ]:
submission = pd.read_csv('/content/gdrive/MyDrive/태양광/sample_submission.csv')
mini = dangjin_floating.min()
size = dangjin_floating.max()-dangjin_floating.min()
dangjin_floating = (dangjin_floating-mini)/size
mini = dangjin_e.min()
size = dangjin_e.max()-dangjin_e.min()
dangjin_e = (dangjin_e-mini)/size
mini = dangjin_warehouse.min()
size = dangjin_warehouse.max()-dangjin_warehouse.min()
dangjin_warehouse = (dangjin_warehouse-mini)/size
mini = ulsan_e.min()
size = ulsan_e.max()-ulsan_e.min()
ulsan_e = (ulsan_e-mini)/size
energy["dangjin_floating"] = dangjin_floating
energy["dangjin_warehouse"] = dangjin_warehouse
energy['ulsan'] = ulsan_e 
energy['dangjin'] = dangjin_e

# 데이터 처리

In [ ]:
ulsan_e = energy['ulsan'].values.astype(float)
dangjin_floating = energy['dangjin_floating'].values.astype(float)
dangjin_warehouse = energy['dangjin_warehouse'].values.astype(float)
dangjin_e	= energy['dangjin'].values.astype(float)

In [ ]:
'''valid_data_size = 700
train_data = ulsan[:-valid_data_size]
valid_data = ulsan[-valid_data_size:]'''

'valid_data_size = 700\ntrain_data = ulsan[:-valid_data_size]\nvalid_data = ulsan[-valid_data_size:]'

# hyper parameter

In [ ]:
lr = 0.0001 # learning rate
seq_len = 24 
epochs = 500

# sequence로 변경

In [ ]:
def make_seq(input, sl):
  train_x = []
  train_y = []
  length = len(input)
  for i in range(length-sl):
    train_seq = input[i:i+sl]
    train_label = input[i+sl:i+sl+1]
    train_x.append(train_seq)
    train_y.append(train_label)
  return train_x, train_y

In [ ]:
ulsan

       Unnamed: 0                 time  ...  HRA      solar_io
0               0  2018-03-01 01:00:00  ... -165  0.000000e+00
1               1  2018-03-01 02:00:00  ... -150 -4.134044e+06
2               2  2018-03-01 03:00:00  ... -135 -3.609175e+06
3               3  2018-03-01 04:00:00  ... -120 -2.866900e+06
4               4  2018-03-01 05:00:00  ... -105 -1.957801e+06
...           ...                  ...  ...  ...           ...
25627       25627  2021-01-31 20:00:00  ...  120 -2.394621e+06
25628       25628  2021-01-31 21:00:00  ...  135 -3.279331e+06
25629       25629  2021-01-31 22:00:00  ...  150 -4.001695e+06
25630       25630  2021-01-31 23:00:00  ...  165 -4.512483e+06
25631       25631  2021-02-01 00:00:00  ... -180  1.674793e+07

[25632 rows x 43 columns]

In [ ]:
dangjin

       Unnamed: 0                 time  ...  HRA      solar_io
0               0  2018-03-01 01:00:00  ... -165  0.000000e+00
1               1  2018-03-01 02:00:00  ... -150 -4.075937e+06
2               2  2018-03-01 03:00:00  ... -135 -3.561535e+06
3               3  2018-03-01 04:00:00  ... -120 -2.834062e+06
4               4  2018-03-01 05:00:00  ... -105 -1.943093e+06
...           ...                  ...  ...  ...           ...
25627       25627  2021-01-31 20:00:00  ...  120 -2.398972e+06
25628       25628  2021-01-31 21:00:00  ...  135 -3.266039e+06
25629       25629  2021-01-31 22:00:00  ...  150 -3.973997e+06
25630       25630  2021-01-31 23:00:00  ...  165 -4.474598e+06
25631       25631  2021-02-01 00:00:00  ... -180  1.761201e+07

[25632 rows x 59 columns]

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim

from sklearn.preprocessing import MinMaxScaler

In [ ]:
class simple_lstm(nn.Module):
    
    def __init__(self):
        super().__init__()
        self.input_vector = 1
        self.sequence_length = 24
        self.output_vector = 100
        self.num_layers = 4
        
        self.lstm = nn.LSTM(input_size=self.input_vector, hidden_size=self.output_vector, num_layers=self.num_layers, batch_first=True)
        self.linear = nn.Sequential(
            nn.Linear(self.output_vector, 50),
            nn.Linear(50, 30),
            nn.Linear(30, 10),
            nn.Linear(10,1)
        )
        
    def forward(self, x):
        output, _ = self.lstm(x) #(hidden, cell) 데이터는 사용하지 않음
        return self.linear(output[:,-1,:])

In [ ]:
torch.version.cuda

'10.1'

In [ ]:
torch.cuda.is_available()

True

In [ ]:
device = torch.device("cuda")

In [ ]:
train_x, train_y = make_seq(dangjin_floating.reshape(-1,1), seq_len)
tensor_x = torch.Tensor(train_x)
tensor_y = torch.Tensor(train_y)


dangjin_floating = simple_lstm()
dangjin_floating = dangjin_floating.to(device)

In [ ]:
dangjin_floating

simple_lstm(
  (lstm): LSTM(1, 100, num_layers=4, batch_first=True)
  (linear): Sequential(
    (0): Linear(in_features=100, out_features=50, bias=True)
    (1): Linear(in_features=50, out_features=30, bias=True)
    (2): Linear(in_features=30, out_features=10, bias=True)
    (3): Linear(in_features=10, out_features=1, bias=True)
  )
)

In [ ]:
dangjin_floating.parameters()

In [ ]:
optimizer = torch.optim.Adam(dangjin_floating.parameters(), lr=lr)
criterion = nn.MSELoss()

In [ ]:
for i in range(epochs):
    dangjin_floating.train()
    tensor_x = tensor_x.to(device)
    tensor_y = tensor_y.to(device)
    output = dangjin_floating(tensor_x)
    loss = criterion(output, tensor_y.view(-1,1))
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if i%100 == 0:
        print('Epoch {}, Loss {:.5f}'.format(i, loss.item()))

x_input = np.array(energy.dangjin_floating[-24:]) #  next value based on data of last year
x_input = x_input.reshape((1, 24, 1)) 
dangjin_floating_pred = []

for i in range(672):
    
    x_input = torch.Tensor(x_input)
    x_input = x_input.to(device)
    predict = dangjin_floating(x_input).cpu().detach().numpy()
    
    new_input = predict.reshape((1,1,1))
    x_input = np.concatenate((x_input[:,-23:].cpu(), new_input), axis = 1)
    dangjin_floating_pred.append(predict[0][0])

Epoch 0, Loss 0.21249
Epoch 100, Loss 0.06590
Epoch 200, Loss 0.06519
Epoch 300, Loss 0.06181
Epoch 400, Loss 0.02882

In [ ]:
torch.cuda

In [ ]:
!nvcc -version

nvcc fatal   : Unknown option '-version'

In [ ]:
train_x, train_y = make_seq(dangjin_warehouse.reshape(-1,1), seq_len)
tensor_x = torch.Tensor(train_x)
tensor_y = torch.Tensor(train_y)


dangjin_warehouse = simple_lstm()
dangjin_warehouse = dangjin_warehouse.to(device)

optimizer = torch.optim.Adam(dangjin_warehouse.parameters(), lr=lr)
criterion = nn.MSELoss()

for i in range(epochs):
    dangjin_warehouse.train()
    tensor_x = tensor_x.to(device)
    tensor_y = tensor_y.to(device)
    output = dangjin_warehouse(tensor_x)
    loss = criterion(output, tensor_y.view(-1,1))
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if i%100 == 0:
        print('Epoch {}, Loss {:.5f}'.format(i, loss.item()))

x_input = np.array(energy.dangjin_warehouse[-24:]) #  next value based on data of last year
x_input = x_input.reshape((1, 24, 1)) 
dangjin_warehouse_pred= []

for i in range(672):
    
    x_input = torch.Tensor(x_input)
    x_input = x_input.to(device)
    predict = dangjin_warehouse(x_input).cpu().detach().numpy()
    
    new_input = predict.reshape((1,1,1))
    x_input = np.concatenate((x_input[:,-23:].cpu(), new_input), axis = 1)
    dangjin_warehouse_pred.append(predict[0][0])

Epoch 0, Loss 0.09467
Epoch 100, Loss 0.06127
Epoch 200, Loss 0.03954
Epoch 300, Loss 0.01999
Epoch 400, Loss 0.01917

In [ ]:
submission = pd.read_csv('/content/gdrive/MyDrive/태양광/sample_submission.csv')
#submission.iloc[:24*28, 1] = dangjin_floating_pred
#submission.iloc[:24*28, 2] = dangjin_warehouse_pred
#submission
#submission.to_csv('submission.csv',index=False)

In [ ]:
train_x, train_y = make_seq(dangjin_e.reshape(-1,1), seq_len)
tensor_x = torch.Tensor(train_x)
tensor_y = torch.Tensor(train_y)


dangjin = simple_lstm()
dangjin = dangjin.to(device)

optimizer = torch.optim.Adam(dangjin.parameters(), lr=lr)
criterion = nn.MSELoss()

for i in range(epochs):
    dangjin.train()
    tensor_x = tensor_x.to(device)
    tensor_y = tensor_y.to(device)
    output = dangjin(tensor_x)
    loss = criterion(output, tensor_y.view(-1,1))
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if i%100 == 0:
        print('Epoch {}, Loss {:.5f}'.format(i, loss.item()))

x_input = np.array(energy.dangjin[-24:]) #  next value based on data of last year
x_input = x_input.reshape((1, 24, 1)) 
dangjin_pred = []

for i in range(672):
    
    x_input = torch.Tensor(x_input)
    x_input = x_input.to(device)
    predict = dangjin(x_input).cpu().detach().numpy()
    new_input = predict.reshape((1,1,1))
    x_input = np.concatenate((x_input[:,-23:].cpu(), new_input), axis = 1)
    dangjin_pred.append(predict[0][0])

Epoch 0, Loss 0.07732
Epoch 100, Loss 0.06441
Epoch 200, Loss 0.02482
Epoch 300, Loss 0.02163
Epoch 400, Loss 0.01958

In [ ]:
submission.iloc[:24*28, 3] = dangjin_pred

In [ ]:
submission.to_csv('/content/gdrive/MyDrive/태양광/submission_lstm.csv',index=False)

In [ ]:
submission

                     time  dangjin_floating  ...     dangjin  ulsan
0     2021-02-01 01:00:00         70.866661  ...  162.690826      0
1     2021-02-01 02:00:00         24.573156  ...   83.216507      0
2     2021-02-01 03:00:00          6.298812  ...   -3.554571      0
3     2021-02-01 04:00:00          0.879257  ...  -16.609642      0
4     2021-02-01 05:00:00         -1.168562  ...   11.166444      0
...                   ...               ...  ...         ...    ...
1387  2021-07-08 20:00:00          0.000000  ...    0.000000      0
1388  2021-07-08 21:00:00          0.000000  ...    0.000000      0
1389  2021-07-08 22:00:00          0.000000  ...    0.000000      0
1390  2021-07-08 23:00:00          0.000000  ...    0.000000      0
1391  2021-07-08 24:00:00          0.000000  ...    0.000000      0

[1392 rows x 5 columns]

In [ ]:
train_x, train_y = make_seq(ulsan_e.reshape(-1,1), seq_len)
tensor_x = torch.Tensor(train_x)
tensor_y = torch.Tensor(train_y)


ulsan = simple_lstm()
ulsan = ulsan.to(device)

optimizer = torch.optim.Adam(ulsan.parameters(), lr=lr)
criterion = nn.MSELoss()


# 학습
for i in range(epochs):
    ulsan.train()
    tensor_x = tensor_x.to(device)
    tensor_y = tensor_y.to(device)
    output = ulsan(tensor_x)
    loss = criterion(output, tensor_y.view(-1,1))
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if i%100 == 0:
        print('Epoch {}, Loss {:.5f}'.format(i, loss.item()))

        
        
# 추론        
x_input = np.array(energy.ulsan[-24:]) #  next value based on data of last year
x_input = x_input.reshape((1, 24, 1)) 
ulsan_pred = []

for i in range(672):
    
    x_input = torch.Tensor(x_input)
    x_input = x_input.to(device)
    predict = ulsan(x_input).cpu().detach().numpy()
    new_input = predict.reshape((1,1,1))
    x_input = np.concatenate((x_input[:,-23:].cpu(), new_input), axis = 1)
    ulsan_pred.append(predict[0][0])

Epoch 0, Loss 0.11494
Epoch 100, Loss 0.06622
Epoch 200, Loss 0.04531
Epoch 300, Loss 0.02167
Epoch 400, Loss 0.01885

In [ ]:
submission

                     time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0     2021-02-01 01:00:00                 0                  0        0      0
1     2021-02-01 02:00:00                 0                  0        0      0
2     2021-02-01 03:00:00                 0                  0        0      0
3     2021-02-01 04:00:00                 0                  0        0      0
4     2021-02-01 05:00:00                 0                  0        0      0
...                   ...               ...                ...      ...    ...
1387  2021-07-08 20:00:00                 0                  0        0      0
1388  2021-07-08 21:00:00                 0                  0        0      0
1389  2021-07-08 22:00:00                 0                  0        0      0
1390  2021-07-08 23:00:00                 0                  0        0      0
1391  2021-07-08 24:00:00                 0                  0        0      0

[1392 rows x 5 columns]

In [ ]:
submission.iloc[:24*28, 1] = dangjin_floating_pred
submission.iloc[:24*28, 2] = dangjin_warehouse_pred
submission.iloc[:24*28, 3] = dangjin_pred
submission.iloc[:24*28, 4] = ulsan_pred
submission.to_csv('/content/gdrive/MyDrive/태양광/submission_lstm_정규화.csv',index=False)

In [ ]:
dangjin_floating_pred

[-0.013021737,
 -0.011568397,
 -0.014294043,
 -0.018564507,
 -0.018079415,
 -0.0063431263,
 0.022289544,
 0.07647981,
 0.17319085,
 0.31569606,
 0.45720345,
 0.5323989,
 0.5257581,
 0.45119566,
 0.32945478,
 0.21228118,
 0.12777664,
 0.09756179,
 0.081004694,
 0.060024813,
 0.035671666,
 0.014293462,
 0.00093498826,
 -0.004206866,
 -0.013005793,
 -0.010477126,
 -0.013545975,
 -0.018251538,
 -0.017945364,
 -0.006883666,
 0.018910244,
 0.06458451,
 0.13797857,
 0.24142875,
 0.35316902,
 0.4365093,
 0.47016245,
 0.4467218,
 0.3753214,
 0.29265267,
 0.22796898,
 0.17845325,
 0.12947722,
 0.08073653,
 0.037548795,
 0.005204946,
 -0.012887642,
 -0.017111063,
 -0.012944266,
 -0.008326054,
 -0.009167165,
 -0.014277354,
 -0.018482953,
 -0.015669316,
 -0.0017385483,
 0.026224867,
 0.0725268,
 0.14262132,
 0.23679043,
 0.34169316,
 0.43124104,
 0.47739196,
 0.4667493,
 0.4065355,
 0.32296145,
 0.24161263,
 0.17066635,
 0.11137651,
 0.06286578,
 0.02473475,
 -0.0018235892,
 -0.015253514,
 -0.016693026,
 -0.011825129,
 -0.008133858,
 -0.009635314,
 -0.0150015205,
 -0.018911064,
 -0.015265286,
 -3.7416816e-05,
 0.029932812,
 0.079588756,
 0.15559246,
 0.2599209,
 0.37708253,
 0.47244036,
 0.51446474,
 0.49109012,
 0.4109882,
 0.3102293,
 0.22275169,
 0.15403552,
 0.09898381,
 0.053787187,
 0.017977208,
 -0.0064574033,
 -0.01767245,
 -0.017456338,
 -0.012341723,
 -0.009673595,
 -0.012375623,
 -0.01786445,
 -0.020053595,
 -0.012970418,
 0.0072169453,
 0.0444137,
 0.10496308,
 0.19567008,
 0.3128702,
 0.4303028,
 0.5114623,
 0.5323242,
 0.48654747,
 0.39021254,
 0.28726745,
 0.20355831,
 0.13751681,
 0.08358778,
 0.039446667,
 0.0060090274,
 -0.014284566,
 -0.020680293,
 -0.017269105,
 -0.01211898,
 -0.01152958,
 -0.015975118,
 -0.020853043,
 -0.019460559,
 -0.0066435337,
 0.021182492,
 0.069011554,
 0.14403792,
 0.2498184,
 0.37284434,
 0.48060203,
 0.5415281,
 0.53821546,
 0.4690658,
 0.36041296,
 0.25839478,
 0.1780094,
 0.11438398,
 0.06270753,
 0.021829352,
 -0.006574467,
 -0.020493686,
 -0.021314219,
 -0.015749961,
 -0.012140617,
 -0.014246702,
 -0.019712493,
 -0.022271484,
 -0.015525892,
 0.0046717823,
 0.04236634,
 0.10392271,
 0.19593997,
 0.31506598,
 0.43747932,
 0.52898294,
 0.5639546,
 0.5306748,
 0.4349419,
 0.31854594,
 0.22153752,
 0.14682592,
 0.08756913,
 0.04007913,
 0.0045360774,
 -0.016891137,
 -0.023530424,
 -0.019741684,
 -0.014164388,
 -0.013462916,
 -0.017974496,
 -0.022730991,
 -0.020750806,
 -0.006787583,
 0.022923946,
 0.07374297,
 0.15295215,
 0.26329798,
 0.39041448,
 0.5024232,
 0.56836545,
 0.5697002,
 0.5007219,
 0.38250357,
 0.26876467,
 0.1810477,
 0.11341034,
 0.05955486,
 0.017728671,
 -0.010552689,
 -0.023506865,
 -0.023153588,
 -0.017053738,
 -0.013779223,
 -0.01646714,
 -0.021934628,
 -0.023403957,
 -0.014551759,
 0.008710831,
 0.050927415,
 0.11902745,
 0.21884747,
 0.34395123,
 0.46801633,
 0.5578107,
 0.5893904,
 0.55076694,
 0.4456634,
 0.31950378,
 0.21714522,
 0.13997288,
 0.07964413,
 0.03215058,
 -0.0021952987,
 -0.02132298,
 -0.025405511,
 -0.020200685,
 -0.014990285,
 -0.01549758,
 -0.02060996,
 -0.024348542,
 -0.019685611,
 -0.0018121302,
 0.033338204,
 0.09197678,
 0.18123282,
 0.30045938,
 0.43012214,
 0.53752506,
 0.5945295,
 0.58451587,
 0.5019189,
 0.37251478,
 0.25527215,
 0.16732441,
 0.1001675,
 0.04736294,
 0.007640034,
 -0.0172531,
 -0.02625446,
 -0.023139238,
 -0.016837716,
 -0.015145332,
 -0.019190803,
 -0.024193794,
 -0.022907361,
 -0.009648308,
 0.019551933,
 0.07013534,
 0.1495163,
 0.26091105,
 0.39144778,
 0.5111154,
 0.58904487,
 0.60454273,
 0.5471767,
 0.42539024,
 0.2954945,
 0.19567515,
 0.12113173,
 0.06313671,
 0.01856026,
 -0.011612624,
 -0.025659531,
 -0.025535047,
 -0.019064233,
 -0.0153936595,
 -0.017931134,
 -0.023373336,
 -0.02471219,
 -0.015455142,
 0.008617565,
 0.05228509,
 0.12269805,
 0.22544737,
 0.35350913,
 0.48099,
 0.57580435,
 0.61368865,
 0.5807795,
 0.47498327,
 0.3375907,
 0.22528188,
 0.14264117,
 0.079377756,
 0.03030549,
 -0.0046800673,
 -0.023683265,
 -0.02716735,
 -0.021428391,
 -0.016176462,
 -0.016970813,
 -0.022196576,
 -0.025462762,
 -0.019684896,
 -0.00012537837,
 0.03752677,
 0.099879965,
 0.19382246,
 0.31710654,
 0.4487633,
 0.5568851,
 0.6143046,
 0.6040502,
 0.51850337,
 0.38088036,
 0.2563988,
 0.16486926,
 0.09609078,
 0.042727724,
 0.0033311248,
 -0.020427063,
 -0.027904272,
 -0.023716182,
 -0.01740481,
 -0.016382337,
 -0.020884052,
 -0.025434598,
 -0.022656173,
 -0.007137403,
 0.025206402,
 0.08033262,
 0.16567235,
 0.28265554,
 0.4155243,
 0.53380746,
 0.60817295,
 0.6186697,
 0.5544807,
 0.4241553,
 0.28922355,
 0.1880358,
 0.11334492,
 0.055756375,
 0.012266591,
 -0.015998185,
 -0.027674451,
 -0.025741324,
 -0.01897651,
 -0.016199842,
 -0.019595757,
 -0.024845868,
 -0.024601191,
 -0.01274094,
 0.014850318,
 0.063484654,
 0.1406209,
 0.25035566,
 0.38201576,
 0.50768304,
 0.5966116,
 0.6260819,
 0.5828029,
 0.46580744,
 0.32382166,
 0.2123882,
 0.13125266,
 0.06937401,
 0.022020236,
 -0.0104946345,
 -0.026445448,
 -0.02734387,
 -0.020777926,
 -0.016432002,
 -0.018449977,
 -0.023876011,
 -0.0256989,
 -0.017164975,
 0.006113842,
 0.048892632,
 0.11832152,
 0.22028889,
 0.34877634,
 0.47934645,
 0.5806231,
 0.62742543,
 0.6040864,
 0.50418574,
 0.36003208,
 0.23818429,
 0.1499591,
 0.08360119,
 0.032522812,
 -0.0040014833,
 -0.024209306,
 -0.028388724,
 -0.022684664,
 -0.017066881,
 -0.017535016,
 -0.022676885,
 -0.026096568,
 -0.020575315,
 -0.0012543648,
 0.036214396,
 0.098471686,
 0.19247438,
 0.31622797,
 0.44945014,
 0.5609934,
 0.62357,
 0.61910236,
 0.53802276,
 0.39737016,
 0.26566595,
 0.16963322,
 0.09848492,
 0.04373224,
 0.0034091324,
 -0.020974413,
 -0.028764114,
 -0.024563164,
 -0.018072143,
 -0.01691632,
 -0.021379456,
 -0.02592425,
 -0.02309741,
 -0.007439792,
 0.025182858,
 0.08080731,
 0.16688468,
 0.28470832,
 0.41852617,
 0.53835243,
 0.61518085,
 0.62853897,
 0.566666,
 0.43497574,
 0.29502225,
 0.1904654,
 0.114095494,
 0.05562906,
 0.011677012,
 -0.016759992,
 -0.028380588,
 -0.026274562,
 -0.019394353,
 -0.016639307,
 -0.020096824,
 -0.025303215,
 -0.02483286,
 -0.01258193,
 0.015586555,
 0.06509642,
 0.14345701,
 0.25448835,
 0.38703424,
 0.51322687,
 0.60279167,
 0.6329613,
 0.5900013,
 0.47167623,
 0.326335,
 0.2126637,
 0.13052572,
 0.068214074,
 0.020754725,
 -0.011591867,
 -0.027169883,
 -0.027680755,
 -0.020958617,
 -0.016730845,
 -0.018926203,
 -0.024349704,
 -0.025870755,
 -0.016786933,
 0.007257983,
 0.0511377,
 0.122106686,
 0.22578607,
 0.35539758,
 0.48608387,
 0.5868594,
 0.6328258,
 0.6082119,
 0.50618815,
 0.35950297,
 0.23644625,
 0.14789005,
 0.08150576,
 0.030605182,
 -0.005501166,
 -0.0250839,
 -0.02864945,
 -0.02266933,
 -0.01719886,
 -0.017950043,
 -0.023176014,
 -0.026295722,
 -0.020137578,
 6.4983964e-05,
 0.038757667,
 0.10273428,
 0.19876824,
 0.32401425,
 0.45735377,
 0.5677904,
 0.6285003,
 0.6215739,
 0.5373939,
 0.3941546,
 0.2620241,
 0.16632332,
 0.09553884,
 0.04120107,
 0.0014772564,
 -0.022093043,
 -0.029059738,
 -0.024412334,
 -0.018030062,
 -0.017235935,
 -0.02189003,
 -0.026194036,
 -0.022702396,
 -0.0060982406,
 0.027804628,
 0.08522667,
 0.17354466,
 0.29324776,
 0.4274435,
 0.5459571,
 0.620294,
 0.63036096,
 0.5645468,
 0.42958552,
 0.28957325,
 0.18598221,
 0.110365465,
 0.05252652,
 0.009307936,
 -0.018184379,
 -0.02880627,
 -0.02606009,
 -0.019188628,
 -0.016835883,
 -0.020592958,
 -0.025656268,
 -0.02454321,
 -0.011317834,
 0.018145382,
 0.06946142,
 0.15017064,
 0.26342088,
 0.39674973,
 0.52171665,
 0.6084894,
 0.63482314,
 0.5872999,
 0.4647736,
 0.3191905,
 0.2070448,
 0.12605856,
 0.064578936,
 0.017957792,
 -0.013358131,
 -0.027802154,
 -0.027478442,
 -0.020615354,
 -0.016785547,
 -0.019377574,
 -0.02477789,
 -0.025720134,
 -0.0156641,
 0.009664997,
 0.055314466,
 0.12865649,
 0.2348132,
 0.36567104,
 0.4954257,
 0.59336406,
 0.63518596,
 0.6055877,
 0.4985128,
 0.3508271,
 0.2297049,
 0.14271156,
 0.07736944,
 0.027396992,
 -0.0076263845,
 -0.025980428,
 -0.02853331,
 -0.022227839,
 -0.017102972,
 -0.018326655,
 -0.023657873,
 -0.026296452,
 -0.019195214,
 0.0022659004,
 0.042665586,
 0.108976856,
 0.20765479,
 0.33460397,
 0.4674465,
 0.57519895,
 0.6316525,
 0.6194844,
 0.52964526,
 0.3842054,
 0.2541594,
 0.1604395,
 0.09092261,
 0.03760034,
 -0.0010104477,
 -0.023294315,
 -0.029097408,
 -0.023922265,
 -0.017785683,
 -0.017511219,
 -0.022396445,
 -0.026342005,
 -0.02196221,
 -0.004134938,
 0.031399682,
 0.09107493,
 0.18211584,
 0.30392784,
 0.43814564,
 0.5542812,
 0.62441206,
 0.6291128,
 0.5572839,
 0.41874343,
 0.2805853,
 0.17937966,
 0.10527919,
 0.048549935,
 0.0064627975,
 -0.019715726,
 -0.029056162,
 -0.02557771,
 -0.018809006,
 -0.01698862,
 -0.02109167,
 -0.025935143,
 -0.024013862,
 -0.00960882,
 0.021407187,
 0.074868724,
 0.15830423,
 0.27399105,
 0.40789706,
 0.530908,
 0.61365944,
 0.63461375,
 0.58090866,
 0.45353448,
 0.30910295,
 0.19969298,
 0.120499566,
 0.06023915,
 0.01476489,
 -0.015233055,
 -0.028311938,
 -0.027062953,
 -0.020124689,
 -0.016801164,
 -0.019836321,
 -0.025162354,
 -0.025400028,
 -0.014216572,
 0.012587935,
 0.06026186,
 0.13627367,
 0.24510325,
 0.37708676,
 0.5053941,
 0.5996066,
 0.6361339,
 0.60031027]

# 재 정규화

In [ ]:
mini = dangjin_floating.min()
size = (int)(dangjin_floating.max()-dangjin_floating.min())
dangjin_floating_pred = dangjin_floating_pred*size+mini
mini = dangjin_e.min()
size = (int)(dangjin_e.max()-dangjin_e.min())
dangjin_pred = dangjin_pred*size+mini
mini = dangjin_warehouse.min()
size = (int)(dangjin_warehouse.max()-dangjin_warehouse.min())
dangjin_warehouse_pred = dangjin_warehouse_pred*size+mini
mini = ulsan_e.min()
size = (int)(ulsan_e.max()-ulsan_e.min())
ulsan_pred = ulsan_pred*size+mini

In [ ]:
dangjin_floating_pred

array([-1.30217373e-02, -1.15683973e-02, -1.42940432e-02, -1.85645074e-02,
       -1.80794150e-02, -6.34312630e-03,  2.22895443e-02,  7.64798075e-02,
        1.73190847e-01,  3.15696061e-01,  4.57203448e-01,  5.32398880e-01,
        5.25758088e-01,  4.51195657e-01,  3.29454780e-01,  2.12281182e-01,
        1.27776638e-01,  9.75617915e-02,  8.10046941e-02,  6.00248128e-02,
        3.56716663e-02,  1.42934620e-02,  9.34988260e-04, -4.20686603e-03,
       -1.30057931e-02, -1.04771256e-02, -1.35459751e-02, -1.82515383e-02,
       -1.79453641e-02, -6.88366592e-03,  1.89102441e-02,  6.45845085e-02,
        1.37978569e-01,  2.41428748e-01,  3.53169024e-01,  4.36509311e-01,
        4.70162451e-01,  4.46721792e-01,  3.75321388e-01,  2.92652667e-01,
        2.27968976e-01,  1.78453252e-01,  1.29477218e-01,  8.07365328e-02,
        3.75487953e-02,  5.20494580e-03, -1.28876418e-02, -1.71110630e-02,
       -1.29442662e-02, -8.32605362e-03, -9.16716456e-03, -1.42773539e-02,
       -1.84829533e-02, -1.56693161e-02, -1.73854828e-03,  2.62248665e-02,
        7.25267977e-02,  1.42621323e-01,  2.36790434e-01,  3.41693163e-01,
        4.31241035e-01,  4.77391958e-01,  4.66749310e-01,  4.06535506e-01,
        3.22961450e-01,  2.41612628e-01,  1.70666352e-01,  1.11376509e-01,
        6.28657788e-02,  2.47347504e-02, -1.82358921e-03, -1.52535141e-02,
       -1.66930258e-02, -1.18251294e-02, -8.13385844e-03, -9.63531435e-03,
       -1.50015205e-02, -1.89110637e-02, -1.52652860e-02, -3.74168158e-05,
        2.99328119e-02,  7.95887560e-02,  1.55592456e-01,  2.59920895e-01,
        3.77082527e-01,  4.72440362e-01,  5.14464736e-01,  4.91090119e-01,
        4.10988212e-01,  3.10229301e-01,  2.22751692e-01,  1.54035524e-01,
        9.89838094e-02,  5.37871867e-02,  1.79772079e-02, -6.45740330e-03,
       -1.76724494e-02, -1.74563378e-02, -1.23417228e-02, -9.67359543e-03,
       -1.23756230e-02, -1.78644508e-02, -2.00535953e-02, -1.29704177e-02,
        7.21694529e-03,  4.44137007e-02,  1.04963079e-01,  1.95670083e-01,
        3.12870204e-01,  4.30302799e-01,  5.11462271e-01,  5.32324195e-01,
        4.86547470e-01,  3.90212536e-01,  2.87267447e-01,  2.03558311e-01,
        1.37516811e-01,  8.35877806e-02,  3.94466668e-02,  6.00902736e-03,
       -1.42845660e-02, -2.06802934e-02, -1.72691047e-02, -1.21189803e-02,
       -1.15295798e-02, -1.59751177e-02, -2.08530426e-02, -1.94605589e-02,
       -6.64353371e-03,  2.11824924e-02,  6.90115541e-02,  1.44037917e-01,
        2.49818400e-01,  3.72844338e-01,  4.80602026e-01,  5.41528106e-01,
        5.38215458e-01,  4.69065785e-01,  3.60412955e-01,  2.58394778e-01,
        1.78009406e-01,  1.14383981e-01,  6.27075285e-02,  2.18293518e-02,
       -6.57446682e-03, -2.04936862e-02, -2.13142186e-02, -1.57499611e-02,
       -1.21406168e-02, -1.42467022e-02, -1.97124928e-02, -2.22714841e-02,
       -1.55258924e-02,  4.67178226e-03,  4.23663408e-02,  1.03922710e-01,
        1.95939973e-01,  3.15065980e-01,  4.37479317e-01,  5.28982937e-01,
        5.63954592e-01,  5.30674815e-01,  4.34941888e-01,  3.18545938e-01,
        2.21537516e-01,  1.46825925e-01,  8.75691324e-02,  4.00791317e-02,
        4.53607738e-03, -1.68911368e-02, -2.35304236e-02, -1.97416842e-02,
       -1.41643882e-02, -1.34629160e-02, -1.79744959e-02, -2.27309912e-02,
       -2.07508057e-02, -6.78758323e-03,  2.29239464e-02,  7.37429708e-02,
        1.52952150e-01,  2.63297975e-01,  3.90414476e-01,  5.02423227e-01,
        5.68365455e-01,  5.69700181e-01,  5.00721872e-01,  3.82503569e-01,
        2.68764675e-01,  1.81047693e-01,  1.13410339e-01,  5.95548600e-02,
        1.77286714e-02, -1.05526894e-02, -2.35068649e-02, -2.31535882e-02,
       -1.70537382e-02, -1.37792230e-02, -1.64671391e-02, -2.19346285e-02,
       -2.34039575e-02, -1.45517588e-02,  8.71083140e-03,  5.09274155e-02,
        1.19027451e-01,  2.18847468e-01,  3.43951225e-01,  4.68016326e-01,
        5.57810724e-01,  5.89390397e-01,  5.50766945e-01,  4.45663393e-01,
        3.19503784e-01,  2.17145219e-01,  1.39972880e-01,  7.96441287e-02,
        3.21505815e-02, -2.19529867e-03, -2.13229805e-02, -2.54055113e-02,
       -2.02006847e-02, -1.49902850e-02, -1.54975802e-02, -2.06099600e-02,
       -2.43485421e-02, -1.96856111e-02, -1.81213021e-03,  3.33382040e-02,
        9.19767767e-02,  1.81232825e-01,  3.00459385e-01,  4.30122137e-01,
        5.37525058e-01,  5.94529510e-01,  5.84515870e-01,  5.01918912e-01,
        3.72514784e-01,  2.55272150e-01,  1.67324409e-01,  1.00167498e-01,
        4.73629385e-02,  7.64003396e-03, -1.72531009e-02, -2.62544602e-02,
       -2.31392384e-02, -1.68377161e-02, -1.51453316e-02, -1.91908032e-02,
       -2.41937935e-02, -2.29073614e-02, -9.64830816e-03,  1.95519328e-02,
        7.01353401e-02,  1.49516299e-01,  2.60911047e-01,  3.91447783e-01,
        5.11115372e-01,  5.89044869e-01,  6.04542732e-01,  5.47176719e-01,
        4.25390244e-01,  2.95494497e-01,  1.95675150e-01,  1.21131733e-01,
        6.31367117e-02,  1.85602605e-02, -1.16126239e-02, -2.56595314e-02,
       -2.55350471e-02, -1.90642327e-02, -1.53936595e-02, -1.79311335e-02,
       -2.33733356e-02, -2.47121900e-02, -1.54551417e-02,  8.61756504e-03,
        5.22850901e-02,  1.22698054e-01,  2.25447372e-01,  3.53509128e-01,
        4.80989993e-01,  5.75804353e-01,  6.13688648e-01,  5.80779493e-01,
        4.74983275e-01,  3.37590694e-01,  2.25281879e-01,  1.42641172e-01,
        7.93777555e-02,  3.03054899e-02, -4.68006730e-03, -2.36832649e-02,
       -2.71673501e-02, -2.14283913e-02, -1.61764622e-02, -1.69708133e-02,
       -2.21965760e-02, -2.54627615e-02, -1.96848959e-02, -1.25378370e-04,
        3.75267714e-02,  9.98799652e-02,  1.93822458e-01,  3.17106545e-01,
        4.48763311e-01,  5.56885123e-01,  6.14304602e-01,  6.04050219e-01,
        5.18503368e-01,  3.80880356e-01,  2.56398797e-01,  1.64869264e-01,
        9.60907787e-02,  4.27277237e-02,  3.33112478e-03, -2.04270631e-02,
       -2.79042721e-02, -2.37161815e-02, -1.74048096e-02, -1.63823366e-02,
       -2.08840519e-02, -2.54345983e-02, -2.26561725e-02, -7.13740289e-03,
        2.52064019e-02,  8.03326219e-02,  1.65672347e-01,  2.82655537e-01,
        4.15524304e-01,  5.33807456e-01,  6.08172953e-01,  6.18669689e-01,
        5.54480672e-01,  4.24155295e-01,  2.89223552e-01,  1.88035801e-01,
        1.13344923e-01,  5.57563752e-02,  1.22665912e-02, -1.59981847e-02,
       -2.76744515e-02, -2.57413238e-02, -1.89765096e-02, -1.61998421e-02,
       -1.95957571e-02, -2.48458683e-02, -2.46011913e-02, -1.27409399e-02,
        1.48503184e-02,  6.34846538e-02,  1.40620902e-01,  2.50355661e-01,
        3.82015765e-01,  5.07683039e-01,  5.96611619e-01,  6.26081884e-01,
        5.82802892e-01,  4.65807438e-01,  3.23821664e-01,  2.12388203e-01,
        1.31252661e-01,  6.93740100e-02,  2.20202357e-02, -1.04946345e-02,
       -2.64454484e-02, -2.73438692e-02, -2.07779258e-02, -1.64320022e-02,
       -1.84499770e-02, -2.38760114e-02, -2.56989002e-02, -1.71649754e-02,
        6.11384213e-03,  4.88926321e-02,  1.18321523e-01,  2.20288888e-01,
        3.48776340e-01,  4.79346454e-01,  5.80623090e-01,  6.27425432e-01,
        6.04086399e-01,  5.04185736e-01,  3.60032082e-01,  2.38184288e-01,
        1.49959102e-01,  8.36011916e-02,  3.25228125e-02, -4.00148332e-03,
       -2.42093056e-02, -2.83887237e-02, -2.26846635e-02, -1.70668811e-02,
       -1.75350159e-02, -2.26768851e-02, -2.60965675e-02, -2.05753148e-02,
       -1.25436485e-03,  3.62143964e-02,  9.84716862e-02,  1.92474380e-01,
        3.16227973e-01,  4.49450135e-01,  5.60993373e-01,  6.23570025e-01,
        6.19102359e-01,  5.38022757e-01,  3.97370160e-01,  2.65665948e-01,
        1.69633225e-01,  9.84849185e-02,  4.37322408e-02,  3.40913236e-03,
       -2.09744126e-02, -2.87641138e-02, -2.45631635e-02, -1.80721432e-02,
       -1.69163197e-02, -2.13794559e-02, -2.59242505e-02, -2.30974108e-02,
       -7.43979216e-03,  2.51828581e-02,  8.08073133e-02,  1.66884676e-01,
        2.84708321e-01,  4.18526173e-01,  5.38352430e-01,  6.15180850e-01,
        6.28538966e-01,  5.66666007e-01,  4.34975743e-01,  2.95022249e-01,
        1.90465406e-01,  1.14095494e-01,  5.56290597e-02,  1.16770118e-02,
       -1.67599916e-02, -2.83805877e-02, -2.62745619e-02, -1.93943530e-02,
       -1.66393071e-02, -2.00968236e-02, -2.53032148e-02, -2.48328596e-02,
       -1.25819296e-02,  1.55865550e-02,  6.50964230e-02,  1.43457010e-01,
        2.54488349e-01,  3.87034237e-01,  5.13226867e-01,  6.02791667e-01,
        6.32961273e-01,  5.90001285e-01,  4.71676230e-01,  3.26335013e-01,
        2.12663695e-01,  1.30525723e-01,  6.82140738e-02,  2.07547247e-02,
       -1.15918666e-02, -2.71698833e-02, -2.76807547e-02, -2.09586173e-02,
       -1.67308450e-02, -1.89262033e-02, -2.43497044e-02, -2.58707553e-02,
       -1.67869329e-02,  7.25798309e-03,  5.11377007e-02,  1.22106686e-01,
        2.25786075e-01,  3.55397582e-01,  4.86083865e-01,  5.86859405e-01,
        6.32825792e-01,  6.08211875e-01,  5.06188154e-01,  3.59502971e-01,
        2.36446247e-01,  1.47890046e-01,  8.15057606e-02,  3.06051821e-02,
       -5.50116599e-03, -2.50838995e-02, -2.86494493e-02, -2.26693302e-02,
       -1.71988606e-02, -1.79500431e-02, -2.31760144e-02, -2.62957215e-02,
       -2.01375782e-02,  6.49839640e-05,  3.87576669e-02,  1.02734283e-01,
        1.98768243e-01,  3.24014246e-01,  4.57353771e-01,  5.67790389e-01,
        6.28500283e-01,  6.21573925e-01,  5.37393928e-01,  3.94154608e-01,
        2.62024105e-01,  1.66323319e-01,  9.55388397e-02,  4.12010700e-02,
        1.47725642e-03, -2.20930427e-02, -2.90597379e-02, -2.44123340e-02,
       -1.80300623e-02, -1.72359347e-02, -2.18900293e-02, -2.61940360e-02,
       -2.27023959e-02, -6.09824061e-03,  2.78046280e-02,  8.52266699e-02,
        1.73544660e-01,  2.93247759e-01,  4.27443504e-01,  5.45957088e-01,
        6.20293975e-01,  6.30360961e-01,  5.64546824e-01,  4.29585516e-01,
        2.89573252e-01,  1.85982212e-01,  1.10365465e-01,  5.25265187e-02,
        9.30793583e-03, -1.81843787e-02, -2.88062692e-02, -2.60600895e-02,
       -1.91886276e-02, -1.68358833e-02, -2.05929577e-02, -2.56562680e-02,
       -2.45432109e-02, -1.13178343e-02,  1.81453824e-02,  6.94614202e-02,
        1.50170639e-01,  2.63420880e-01,  3.96749735e-01,  5.21716654e-01,
        6.08489394e-01,  6.34823143e-01,  5.87299883e-01,  4.64773595e-01,
        3.19190502e-01,  2.07044795e-01,  1.26058564e-01,  6.45789355e-02,
        1.79577917e-02, -1.33581311e-02, -2.78021544e-02, -2.74784416e-02,
       -2.06153542e-02, -1.67855471e-02, -1.93775743e-02, -2.47778893e-02,
       -2.57201344e-02, -1.56641006e-02,  9.66499746e-03,  5.53144664e-02,
        1.28656492e-01,  2.34813198e-01,  3.65671039e-01,  4.95425701e-01,
        5.93364060e-01,  6.35185957e-01,  6.05587721e-01,  4.98512805e-01,
        3.50827098e-01,  2.29704902e-01,  1.42711565e-01,  7.73694366e-02,
        2.73969918e-02, -7.62638450e-03, -2.59804279e-02, -2.85333097e-02,
       -2.22278386e-02, -1.71029717e-02, -1.83266550e-02, -2.36578733e-02,
       -2.62964517e-02, -1.91952139e-02,  2.26590037e-03,  4.26655859e-02,
        1.08976856e-01,  2.07654789e-01,  3.34603965e-01,  4.67446506e-01,
        5.75198948e-01,  6.31652474e-01,  6.19484425e-01,  5.29645264e-01,
        3.84205401e-01,  2.54159391e-01,  1.60439506e-01,  9.09226090e-02,
        3.76003385e-02, -1.01044774e-03, -2.32943147e-02, -2.90974081e-02,
       -2.39222646e-02, -1.77856833e-02, -1.75112188e-02, -2.23964453e-02,
       -2.63420045e-02, -2.19622105e-02, -4.13493812e-03,  3.13996822e-02,
        9.10749286e-02,  1.82115838e-01,  3.03927839e-01,  4.38145638e-01,
        5.54281175e-01,  6.24412060e-01,  6.29112780e-01,  5.57283878e-01,
        4.18743432e-01,  2.80585289e-01,  1.79379657e-01,  1.05279192e-01,
        4.85499352e-02,  6.46279752e-03, -1.97157264e-02, -2.90561616e-02,
       -2.55777091e-02, -1.88090056e-02, -1.69886202e-02, -2.10916698e-02,
       -2.59351432e-02, -2.40138620e-02, -9.60882008e-03,  2.14071870e-02,
        7.48687238e-02,  1.58304229e-01,  2.73991048e-01,  4.07897055e-01,
        5.30907989e-01,  6.13659441e-01,  6.34613752e-01,  5.80908656e-01,
        4.53534484e-01,  3.09102952e-01,  1.99692979e-01,  1.20499566e-01,
        6.02391511e-02,  1.47648901e-02, -1.52330548e-02, -2.83119380e-02,
       -2.70629525e-02, -2.01246887e-02, -1.68011636e-02, -1.98363215e-02,
       -2.51623541e-02, -2.54000276e-02, -1.42165720e-02,  1.25879347e-02,
        6.02618605e-02,  1.36273667e-01,  2.45103255e-01,  3.77086759e-01,
        5.05394101e-01,  5.99606574e-01,  6.36133909e-01,  6.00310266e-01],
      dtype=float32)

In [ ]:
submission.iloc[:24*28, 1] = dangjin_floating_pred
submission.iloc[:24*28, 2] = dangjin_warehouse_pred
submission.iloc[:24*28, 3] = dangjin_pred
submission.iloc[:24*28, 4] = ulsan_pred
submission.to_csv('/content/gdrive/MyDrive/태양광/submission_lstm_재정규화.csv',index=False)

# bi lstm

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Reshape, GRU, RNN

tf.keras.backend.set_floatx('float64')

In [ ]:
len(dangjin_floating)

25632

In [ ]:
mini = dangjin_floating.min()
size = dangjin_floating.max()-dangjin_floating.min()
dangjin_floating = (dangjin_floating-mini)/size

In [ ]:
mini = dangjin_e.min()
size = dangjin_e.max()-dangjin_e.min()
dangjin_e = (dangjin_e-mini)/size

In [ ]:
mini = ulsan_e.min()
size = ulsan_e.max()-ulsan_e.min()
ulsan_e = (ulsan_e-mini)/size

In [ ]:
mini = dangjin_warehouse.min()
size = dangjin_warehouse.max()-dangjin_warehouse.min()
dangjin_warehouse = (dangjin_warehouse-mini)/size

In [ ]:
energy["dangjin_floating"] = dangjin_floating
energy["dangjin_warehouse"] = dangjin_warehouse
energy['ulsan'] = ulsan_e 
energy['dangjin'] = dangjin_e

In [ ]:
energy

                     dangjin_floating  ...  dangjin_solar
time                                   ...
2018-03-01 1:00:00           0.000000  ...   0.000000e+00
2018-03-01 2:00:00           0.000000  ...  -4.075937e+06
2018-03-01 3:00:00           0.000000  ...  -3.561535e+06
2018-03-01 4:00:00           0.000000  ...  -2.834062e+06
2018-03-01 5:00:00           0.000000  ...  -1.943093e+06
...                               ...  ...            ...
2021-01-31 20:00:00          0.000000  ...  -2.398972e+06
2021-01-31 21:00:00          0.000000  ...  -3.266039e+06
2021-01-31 22:00:00          0.000000  ...  -3.973997e+06
2021-01-31 23:00:00          0.000000  ...  -4.474598e+06
2021-01-31 24:00:00          0.164122  ...   1.761201e+07

[25632 rows x 6 columns]

In [ ]:
input_window =996 #임의의 수
output_window = 24 #168 7일 24시간
window = 12 #window는 12시간 마다는 12시간 마다
num_features = 1 #베이스라인은 feature를 하나만 사용했습니다.
num_power = 1068 # 날짜
end_=168
lstm_units=32
dropout=0.2
EPOCH=30
BATCH_SIZE=128

In [ ]:
energy.iloc[:,0]

time
2018-03-01 1:00:00     0.000000
2018-03-01 2:00:00     0.000000
2018-03-01 3:00:00     0.000000
2018-03-01 4:00:00     0.000000
2018-03-01 5:00:00     0.000000
                         ...
2021-01-31 20:00:00    0.000000
2021-01-31 21:00:00    0.000000
2021-01-31 22:00:00    0.000000
2021-01-31 23:00:00    0.000000
2021-01-31 24:00:00    0.164122
Name: dangjin_floating, Length: 25632, dtype: float64

In [ ]:
train_x=tf.reshape(energy.iloc[:,0].values, [num_power, 24, num_features]) # floating
print(f'train_x.shape:{train_x.shape}')

train_x.shape:(1068, 24, 1)

In [ ]:
train_window_x= np.zeros(( train_x.shape[0], (train_x.shape[1]-(input_window + output_window))//window, input_window, num_features)) 
train_window_y= np.zeros(( train_x.shape[0], (train_x.shape[1]-(input_window + output_window))//window, output_window, num_features))
print(f'train_window_x.shape:{train_window_x.shape}')
print(f'train_window_y.shape:{train_window_y.shape}')

ValueError: ignored

In [ ]:
for example in range(train_x.shape[0]):
    
    for start in range(0, train_x.shape[1]-(input_window+output_window), window):
        end=start+input_window
        train_window_x[example, start//window, :] = train_x[example, start: end               , :]
        train_window_y[example, start//window, :] = train_x[example, end  : end+ output_window, :]

In [ ]:
new_train_x=tf.reshape(train_window_x, [-1, input_window, num_features])
new_train_y=tf.reshape(train_window_y, [-1, output_window,num_features])
print(f'new_train_x.shape:{new_train_x.shape}')
print(f'new_train_y.shape:{new_train_y.shape}')

new_train_x.shape:(1796, 996, 1)
new_train_y.shape:(1796, 24, 1)

In [ ]:
model=Sequential([
LSTM(lstm_units, return_sequences=False),
Dense(output_window * num_features, kernel_initializer=tf.initializers.zeros()), 
Reshape([output_window, num_features])
])

In [ ]:
model.compile(optimizer='rmsprop', loss='mae', metrics=['mae'])
# 에포크가 끝날 때마다 점(.)을 출력해 훈련 진행 과정을 표시합니다
class PrintDot(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        if epoch % 10 == 0: print('')
        print('.', end='')

#가장 좋은 성능을 낸 val_loss가 적은 model만 남겨 놓았습니다.
save_best_only=tf.keras.callbacks.ModelCheckpoint(filepath="lstm_model.h5", monitor='val_loss', save_best_only=True)


early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=20)

#검증 손실이 10epoch 동안 좋아지지 않으면 학습률을 0.1 배로 재구성하는 명령어입니다.
reduceLR = tf.keras.callbacks.ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=10)

In [ ]:
model.fit(new_train_x, new_train_y, epochs=EPOCH, batch_size=BATCH_SIZE, validation_split = 0.2, verbose=1,
          callbacks=[PrintDot(), early_stop, save_best_only , reduceLR])

model.summary()

Epoch 1/30
12/12 [==============================] - 8s 256ms/step - loss: 0.1662 - mae: 0.1662 - val_loss: 0.1321 - val_mae: 0.1321

.Epoch 2/30
12/12 [==============================] - 3s 231ms/step - loss: 0.1469 - mae: 0.1469 - val_loss: 0.1084 - val_mae: 0.1084
.Epoch 3/30
12/12 [==============================] - 3s 235ms/step - loss: 0.1151 - mae: 0.1151 - val_loss: 0.0914 - val_mae: 0.0914
.Epoch 4/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0953 - mae: 0.0953 - val_loss: 0.0821 - val_mae: 0.0821
.Epoch 5/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0867 - mae: 0.0867 - val_loss: 0.0812 - val_mae: 0.0812
.Epoch 6/30
12/12 [==============================] - 3s 236ms/step - loss: 0.0826 - mae: 0.0826 - val_loss: 0.0743 - val_mae: 0.0743
.Epoch 7/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0793 - mae: 0.0793 - val_loss: 0.0751 - val_mae: 0.0751
.Epoch 8/30
12/12 [==============================] - 3s 235ms/step - loss: 0.0775 - mae: 0.0775 - val_loss: 0.0779 - val_mae: 0.0779
.Epoch 9/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0774 - mae: 0.0774 - val_loss: 0.0703 - val_mae: 0.0703
.Epoch 10/30
12/12 [==============================] - 3s 235ms/step - loss: 0.0758 - mae: 0.0758 - val_loss: 0.0699 - val_mae: 0.0699
.Epoch 11/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0746 - mae: 0.0746 - val_loss: 0.0733 - val_mae: 0.0733

.Epoch 12/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0739 - mae: 0.0739 - val_loss: 0.0706 - val_mae: 0.0706
.Epoch 13/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0727 - mae: 0.0727 - val_loss: 0.0727 - val_mae: 0.0727
.Epoch 14/30
12/12 [==============================] - 3s 236ms/step - loss: 0.0727 - mae: 0.0727 - val_loss: 0.0689 - val_mae: 0.0689
.Epoch 15/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0719 - mae: 0.0719 - val_loss: 0.0724 - val_mae: 0.0724
.Epoch 16/30
12/12 [==============================] - 3s 235ms/step - loss: 0.0716 - mae: 0.0716 - val_loss: 0.0695 - val_mae: 0.0695
.Epoch 17/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0710 - mae: 0.0710 - val_loss: 0.0697 - val_mae: 0.0697
.Epoch 18/30
12/12 [==============================] - 3s 233ms/step - loss: 0.0703 - mae: 0.0703 - val_loss: 0.0720 - val_mae: 0.0720
.Epoch 19/30
12/12 [==============================] - 3s 232ms/step - loss: 0.0711 - mae: 0.0711 - val_loss: 0.0683 - val_mae: 0.0683
.Epoch 20/30
12/12 [==============================] - 3s 235ms/step - loss: 0.0700 - mae: 0.0700 - val_loss: 0.0666 - val_mae: 0.0666
.Epoch 21/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0698 - mae: 0.0698 - val_loss: 0.0678 - val_mae: 0.0678

.Epoch 22/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0686 - mae: 0.0686 - val_loss: 0.0679 - val_mae: 0.0679
.Epoch 23/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0693 - mae: 0.0693 - val_loss: 0.0699 - val_mae: 0.0699
.Epoch 24/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0689 - mae: 0.0689 - val_loss: 0.0723 - val_mae: 0.0723
.Epoch 25/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0686 - mae: 0.0686 - val_loss: 0.0712 - val_mae: 0.0712
.Epoch 26/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0687 - mae: 0.0687 - val_loss: 0.0686 - val_mae: 0.0686
.Epoch 27/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0672 - mae: 0.0672 - val_loss: 0.0665 - val_mae: 0.0665
.Epoch 28/30
12/12 [==============================] - 3s 235ms/step - loss: 0.0675 - mae: 0.0675 - val_loss: 0.0658 - val_mae: 0.0658
.Epoch 29/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0675 - mae: 0.0675 - val_loss: 0.0755 - val_mae: 0.0755
.Epoch 30/30
12/12 [==============================] - 3s 234ms/step - loss: 0.0669 - mae: 0.0669 - val_loss: 0.0713 - val_mae: 0.0713
.Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_2 (LSTM)                (None, 32)                4352
_________________________________________________________________
dense_2 (Dense)              (None, 24)                792
_________________________________________________________________
reshape_2 (Reshape)          (None, 24, 1)             0
=================================================================
Total params: 5,144
Trainable params: 5,144
Non-trainable params: 0
_________________________________________________________________

In [ ]:
prediction=np.zeros((num_power, end_, num_features))
new_test_x=train_x

for i in range(end_//output_window):
    start_=i*output_window
    next_=model.predict(new_test_x[ : , -input_window:, :])
    new_test_x = tf.concat([new_test_x, next_], axis=1)
    print(new_test_x.shape)
    prediction[:, start_: start_ + output_window, :]= next_
prediction =prediction *size + mini

(4, 6432, 1)
(4, 6456, 1)
(4, 6480, 1)
(4, 6504, 1)
(4, 6528, 1)
(4, 6552, 1)
(4, 6576, 1)

In [ ]:
sample_submission['sam'] = prediction.reshape([-1,1])

ValueError: ignored

# prophet

In [ ]:
from datetime import datetime
from neuralprophet import NeuralProphet

ModuleNotFoundError: ignored

In [ ]:
pip install neuralprophet

Collecting neuralprophet
  Downloading https://files.pythonhosted.org/packages/20/52/1e00f0713b9e0e040f38834e94b6f3c3dd55b7f291e77664f27eb670abb6/neuralprophet-0.2.7-py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 4.4MB/s
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (3.2.2)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.10.5.2)
Collecting attrdict>=2.0.1
  Downloading https://files.pythonhosted.org/packages/ef/97/28fe7e68bc7adfce67d4339756e85e9fcf3c6fd7f0c0781695352b70472c/attrdict-2.0.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (1.19.5)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (1.1.5)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (2.8.1)
Collecting torch-lr-finder>=0.2.1
  Downloading https://files.pythonhosted.org/packages/ea/51/1a869067989a0fdaf18e49f0ee3aebfcb63470525245aac7dc390cfc676a/torch_lr_finder-0.2.1-py3-none-any.whl
Collecting tqdm>=4.50.2
  Downloading https://files.pythonhosted.org/packages/42/d7/f357d98e9b50346bcb6095fe3ad205d8db3174eb5edb03edfe7c4099576d/tqdm-4.61.0-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 7.6MB/s
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.0.9)
Collecting torch<1.7.0,>=1.4.0
  Downloading https://files.pythonhosted.org/packages/5d/5e/35140615fc1f925023f489e71086a9ecc188053d263d3594237281284d82/torch-1.6.0-cp37-cp37m-manylinux1_x86_64.whl (748.8MB)
     |████████████████████████████████| 748.8MB 24kB/s
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (7.6.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->neuralprophet) (1.15.0)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->neuralprophet) (0.2.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->neuralprophet) (2.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.4->neuralprophet) (2018.9)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->neuralprophet) (0.5.11)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from torch-lr-finder>=0.2.1->neuralprophet) (20.9)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->neuralprophet) (3.7.7.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from torch<1.7.0,>=1.4.0->neuralprophet) (0.16.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (4.10.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (1.0.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (5.0.5)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (5.1.3)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (5.1.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->neuralprophet) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (57.0.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (0.8.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (5.3.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->neuralprophet) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->neuralprophet) (4.7.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (22.0.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->neuralprophet) (0.7.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.10.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (1.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (5.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (2.11.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (3.3.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (2.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->neuralprophet) (0.5.1)
ERROR: torchvision 0.9.1+cu101 has requirement torch==1.8.1, but you'll have torch 1.6.0 which is incompatible.
ERROR: torchtext 0.9.1 has requirement torch==1.8.1, but you'll have torch 1.6.0 which is incompatible.
Installing collected packages: attrdict, torch, tqdm, torch-lr-finder, neuralprophet
  Found existing installation: torch 1.8.1+cu101
    Uninstalling torch-1.8.1+cu101:
      Successfully uninstalled torch-1.8.1+cu101
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed attrdict-2.0.1 neuralprophet-0.2.7 torch-1.6.0 torch-lr-finder-0.2.1 tqdm-4.61.0

In [ ]:
from neuralprophet import NeuralProphet

In [ ]:
def convert_time(x):
    Ymd, HMS = x.split(' ')
    H, M, S = HMS.split(':')
    H = str(int(H)-1)
    HMS = ':'.join([H, M, S])
    return ' '.join([Ymd, HMS])

In [ ]:
energy["dangjin"] = dangjin["dangjin"]
energy["dangjin_floating"] = dangjin["dangjin_floating"]
energy["dangjin_warehouse"] = dangjin["dangjin_warehouse"]
energy["ulsan"] = ulsan["ulsan"]
energy['ulsan_solar'] = ulsan["solar_io"]
energy['dangjin_solar'] = dangjin["solar_io"]

In [ ]:
energy["time"] = energy["time"].apply(lambda x: convert_time(x))

In [ ]:
energy

                      time  dangjin_floating  ...   ulsan_solar  dangjin_solar
0      2018-03-01 -1:00:00               0.0  ...  0.000000e+00   0.000000e+00
1       2018-03-01 0:00:00               0.0  ... -4.134044e+06  -4.075937e+06
2       2018-03-01 1:00:00               0.0  ... -3.609175e+06  -3.561535e+06
3       2018-03-01 2:00:00               0.0  ... -2.866900e+06  -2.834062e+06
4       2018-03-01 3:00:00               0.0  ... -1.957801e+06  -1.943093e+06
...                    ...               ...  ...           ...            ...
25627  2021-01-31 18:00:00               0.0  ... -2.394621e+06  -2.398972e+06
25628  2021-01-31 19:00:00               0.0  ... -3.279331e+06  -3.266039e+06
25629  2021-01-31 20:00:00               0.0  ... -4.001695e+06  -3.973997e+06
25630  2021-01-31 21:00:00               0.0  ... -4.512483e+06  -4.474598e+06
25631  2021-01-31 22:00:00               0.0  ...  1.674793e+07   1.761201e+07

[25632 rows x 7 columns]

In [ ]:
# ds 시간 y 데이터

col = "dangjin_floating"
df = pd.DataFrame()
df["ds"] = energy["time"]
df["solar"] = energy["dangjin_solar"]
df["y"] = energy[col]

future_regressors_df = pd.DataFrame(data={'solar': df['solar']})

In [ ]:
future_regressors_df

              solar
0      0.000000e+00
1     -4.075937e+06
2     -3.561535e+06
3     -2.834062e+06
4     -1.943093e+06
...             ...
25627 -2.398972e+06
25628 -3.266039e+06
25629 -3.973997e+06
25630 -4.474598e+06
25631  1.761201e+07

[25632 rows x 1 columns]

In [ ]:
model = NeuralProphet()
model.add_future_regressor("solar")
loss = model.fit(df, freq="H")

df_pred = model.make_future_dataframe(df, regressors_df=future_regressors_df, periods=18000)

predict = model.predict(df_pred)

WARNING: nprophet - fit: Parts of code may break if using other than daily data.
INFO: nprophet.config - set_auto_batch_epoch: Auto-set batch_size to 128
INFO: nprophet.config - set_auto_batch_epoch: Auto-set epochs to 5

  0%|          | 0/100 [00:00<?, ?it/s]

INFO: nprophet - _lr_range_test: learning rate range test found optimal lr: 2.85E-01
Epoch[5/5]: 100%|██████████| 5/5 [00:04<00:00,  1.23it/s, SmoothL1Loss=0.0154, MAE=69.4, RegLoss=0]

In [ ]:
predict

                       ds  ... future_regressor_solar
0     2021-01-31 23:00:00  ...              45.858288
1     2021-02-01 00:00:00  ...              40.344650
2     2021-02-01 01:00:00  ...              41.040501
3     2021-02-01 02:00:00  ...              42.024570
4     2021-02-01 03:00:00  ...              43.229813
...                   ...  ...                    ...
17995 2023-02-20 18:00:00  ...              43.730854
17996 2023-02-20 19:00:00  ...              42.524460
17997 2023-02-20 20:00:00  ...              41.539448
17998 2023-02-20 21:00:00  ...              40.842934
17999 2023-02-20 22:00:00  ...              42.533012

[18000 rows x 10 columns]

In [ ]:
predict_1 = predict.copy()
predict_1 = predict_1.query('ds >= "2021-02-01 00:00:00"')
predict_1 = predict_1.query('ds < "2021-03-01 00:00:00"')

predict_2 = predict.copy()
predict_2 = predict_2.query('ds >= "2021-06-09 00:00:00"')
predict_2 = predict_2.query('ds < "2021-07-09 00:00:00"')

In [ ]:
submission = pd.read_csv('/content/gdrive/MyDrive/태양광/submission_lstm.csv')

In [ ]:
submission[col] = list(predict_1['yhat1']) + list(predict_2['yhat1'])

# 반복

In [ ]:
col = "dangjin_warehouse"
df = pd.DataFrame()
df["ds"] = energy["time"]
df["solar"] = energy["dangjin_solar"]
df["y"] = energy[col]

future_regressors_df = pd.DataFrame(data={'solar': df['solar']})

model = NeuralProphet()
model.add_future_regressor("solar")
loss = model.fit(df, freq="H")

#df_pred = model.make_future_dataframe(df, periods=18000)
df_pred = model.make_future_dataframe(df, regressors_df=future_regressors_df, periods=18000)

predict = model.predict(df_pred)


predict_1 = predict.copy()
predict_1 = predict_1.query('ds >= "2021-02-01 00:00:00"')
predict_1 = predict_1.query('ds < "2021-03-01 00:00:00"')

predict_2 = predict.copy()
predict_2 = predict_2.query('ds >= "2021-06-09 00:00:00"')
predict_2 = predict_2.query('ds < "2021-07-09 00:00:00"')


submission[col] = list(predict_1['yhat1']) + list(predict_2['yhat1'])

WARNING: nprophet - fit: Parts of code may break if using other than daily data.
INFO: nprophet.config - set_auto_batch_epoch: Auto-set batch_size to 128
INFO: nprophet.config - set_auto_batch_epoch: Auto-set epochs to 5

  0%|          | 0/100 [00:00<?, ?it/s]

INFO: nprophet - _lr_range_test: learning rate range test found optimal lr: 2.31E-01
Epoch[5/5]: 100%|██████████| 5/5 [00:04<00:00,  1.24it/s, SmoothL1Loss=0.015, MAE=52.1, RegLoss=0]

In [ ]:
col = "dangjin"
df = pd.DataFrame()
df["ds"] = energy["time"]
df["solar"] = energy["dangjin_solar"]
df["y"] = energy[col]

future_regressors_df = pd.DataFrame(data={'solar': df['solar']})

model = NeuralProphet()
model.add_future_regressor("solar")
loss = model.fit(df, freq="H")

#df_pred = model.make_future_dataframe(df, periods=18000)
df_pred = model.make_future_dataframe(df, regressors_df=future_regressors_df, periods=18000)

predict = model.predict(df_pred)


predict_1 = predict.copy()
predict_1 = predict_1.query('ds >= "2021-02-01 00:00:00"')
predict_1 = predict_1.query('ds < "2021-03-01 00:00:00"')

predict_2 = predict.copy()
predict_2 = predict_2.query('ds >= "2021-06-09 00:00:00"')
predict_2 = predict_2.query('ds < "2021-07-09 00:00:00"')


submission[col] = list(predict_1['yhat1']) + list(predict_2['yhat1'])

WARNING: nprophet - fit: Parts of code may break if using other than daily data.
INFO: nprophet.config - set_auto_batch_epoch: Auto-set batch_size to 128
INFO: nprophet.config - set_auto_batch_epoch: Auto-set epochs to 5

  0%|          | 0/100 [00:00<?, ?it/s]

INFO: nprophet - _lr_range_test: learning rate range test found optimal lr: 2.85E-01
Epoch[5/5]: 100%|██████████| 5/5 [00:03<00:00,  1.26it/s, SmoothL1Loss=0.0153, MAE=78.7, RegLoss=0]

In [ ]:
col = "ulsan"
df = pd.DataFrame()
df["ds"] = energy["time"]
df["solar"] = energy["ulsan_solar"]
df["y"] = energy[col]

future_regressors_df = pd.DataFrame(data={'solar': df['solar']})

model = NeuralProphet()
model.add_future_regressor("solar")
loss = model.fit(df, freq="H")

#df_pred = model.make_future_dataframe(df, periods=18000)
df_pred = model.make_future_dataframe(df, regressors_df=future_regressors_df, periods=18000)

predict = model.predict(df_pred)


predict_1 = predict.copy()
predict_1 = predict_1.query('ds >= "2021-02-01 00:00:00"')
predict_1 = predict_1.query('ds < "2021-03-01 00:00:00"')

predict_2 = predict.copy()
predict_2 = predict_2.query('ds >= "2021-06-09 00:00:00"')
predict_2 = predict_2.query('ds < "2021-07-09 00:00:00"')


submission[col] = list(predict_1['yhat1']) + list(predict_2['yhat1'])

WARNING: nprophet - fit: Parts of code may break if using other than daily data.
INFO: nprophet.config - set_auto_batch_epoch: Auto-set batch_size to 128
INFO: nprophet.config - set_auto_batch_epoch: Auto-set epochs to 5

  0%|          | 0/100 [00:00<?, ?it/s]

INFO: nprophet - _lr_range_test: learning rate range test found optimal lr: 2.85E-01
Epoch[5/5]: 100%|██████████| 5/5 [00:04<00:00,  1.24it/s, SmoothL1Loss=0.0161, MAE=36.7, RegLoss=0]

In [ ]:
submission

                     time  dangjin_floating  ...    dangjin      ulsan
0     2021-02-01 01:00:00        -30.001083  ... -19.931324   0.953360
1     2021-02-01 02:00:00        -29.783152  ... -23.275204   1.878162
2     2021-02-01 03:00:00        -32.491741  ... -15.040848   2.021610
3     2021-02-01 04:00:00        -33.528046  ...  -8.954735   1.176609
4     2021-02-01 05:00:00        -30.705059  ... -16.939114  -0.006824
...                   ...               ...  ...        ...        ...
1387  2021-07-08 20:00:00          1.001244  ...  -3.099579  11.508541
1388  2021-07-08 21:00:00          2.328629  ...  -4.378532  12.688625
1389  2021-07-08 22:00:00         -0.292809  ...  -7.403671  13.028366
1390  2021-07-08 23:00:00        -29.695793  ... -28.475777   3.160480
1391  2021-07-08 24:00:00         -1.684391  ...  -0.545898  11.045410

[1392 rows x 5 columns]

In [ ]:
submission.to_csv("/content/gdrive/MyDrive/태양광/submission_prophet_with_solar.csv")